node_modules
dist
.turbo
.next
.tanstack
out
coverage
pnpm-lock.yaml
*.generated.*
routeTree.gen.ts
**/assets/generated
.expo
/sdk

# Terraform state — machine-written JSON, rewritten by every apply. Linting it
# only produces a false format:check failure right after you deploy.
*.tfstate
*.tfstate.*
