{
  "openapi": "3.1.0",
  "info": {
    "title": "Infrawrench API",
    "version": "0.40.0",
    "description": "REST API for the Infrawrench cloud SaaS. Plugin and resource type IDs are enumerated from the live plugin registry at spec-build time, so this document always matches what the running server actually accepts.",
    "license": {
      "name": "BUSL-1.1",
      "url": "https://mariadb.com/bsl11/"
    }
  },
  "servers": [
    {
      "url": "https://app.infrawrench.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "security": [
    {
      "sessionCookie": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Session and identity."
    },
    {
      "name": "Profile",
      "description": "The signed-in user's own account: name, password reset, two-factor factors, and active sessions."
    },
    {
      "name": "Organizations",
      "description": "Org creation and membership."
    },
    {
      "name": "Invitations",
      "description": "Accepting team invites."
    },
    {
      "name": "Accounts",
      "description": "Provider connections (cloud accounts)."
    },
    {
      "name": "Dashboards",
      "description": "Pinned resources, custom dashboards."
    },
    {
      "name": "Custom graphs",
      "description": "Script-defined dashboard charts run in a server-side sandbox."
    },
    {
      "name": "Workflows",
      "description": "Workflow (runbook) surface exposed over HTTP \u2014 the approval requests raised by infra.waitForApproval(...) inside runs, and the cron-schedule sub-resource. Full workflow CRUD is managed in the app."
    },
    {
      "name": "Resources",
      "description": "CRUD, manifest, logs, secrets, metrics \u2014 all dispatched to plugins."
    },
    {
      "name": "Changes",
      "description": "Change timeline / drift feed \u2014 resources that appeared, changed, or disappeared between polls."
    },
    {
      "name": "Connections",
      "description": "SQL / KV / Docker / SFTP / Storage operations against live resources."
    },
    {
      "name": "Associations",
      "description": "Output-reference wiring between resources."
    },
    {
      "name": "Search",
      "description": "Cross-account resource search."
    },
    {
      "name": "Orphans",
      "description": "Likely-orphaned and idle resources flagged by plugin heuristics, with best-effort cost."
    },
    {
      "name": "DNS",
      "description": "Cross-provider DNS inventory \u2014 every synced zone and record, with dangling targets flagged as subdomain-takeover candidates."
    },
    {
      "name": "Sleep schedules",
      "description": "Off-at/on-at weekly windows on resources whose plugin declares lifecycle start/stop actions; the poller executes due transitions server-side."
    },
    {
      "name": "Resource leases",
      "description": "Optional TTLs on resources ('a test cluster for 3 days'). Active leases ride the expiry radar; auto-delete leases are announced twice and then deleted at expiry by the poller, deferring during change freezes."
    },
    {
      "name": "Session recordings",
      "description": "Replayable asciicasts of SSH sessions opened through the cloud. Cloud SSH is already proxied server-side, so recording tees a stream the server holds rather than needing an agent on the host; casts download in asciinema's own format. Opt-in per organization, retained on a per-organization window."
    },
    {
      "name": "Synthetic probes",
      "description": "HTTP uptime/latency checks run on an interval from an edge proxy outside the cluster; results land in the shared metric store and alert after N consecutive failures."
    },
    {
      "name": "Log workspaces",
      "description": "Saved multi-resource log tails: a named set of log streams plus a search expression, optionally alert-evaluated server-side."
    },
    {
      "name": "Connect",
      "description": "Helpers for shipping credentials into other services."
    },
    {
      "name": "Storage",
      "description": "Object storage helpers (uploads via API key)."
    },
    {
      "name": "SFTP",
      "description": "SFTP helpers (uploads via API key)."
    },
    {
      "name": "SSH keys",
      "description": "Org SSH keys for tunnel/SSH access."
    },
    {
      "name": "SSH tunnels",
      "description": "Server-side SSH tunnel lifecycle."
    },
    {
      "name": "SSH fan-out",
      "description": "Run one command across many SSH hosts, with saved snippets."
    },
    {
      "name": "Bastions",
      "description": "Per-account egress agents \u2014 register a bastion, run the agent container on your infra, and bind accounts to it so cloud control-plane traffic exits from your IP."
    },
    {
      "name": "Agents",
      "description": "Agent VM defaults, sessions, and reconciliation helpers."
    },
    {
      "name": "Team",
      "description": "Members and invitations."
    },
    {
      "name": "Billing",
      "description": "Stripe checkout and portal."
    },
    {
      "name": "Audit",
      "description": "Audit log access."
    },
    {
      "name": "Change Freezes",
      "description": "Org-level change freeze windows. While one is in effect, destructive actions are blocked (423) unless explicitly overridden by an admin."
    },
    {
      "name": "API keys",
      "description": "Programmatic access tokens."
    },
    {
      "name": "WebSocket",
      "description": "Auth tokens for the WebSocket gateway."
    },
    {
      "name": "Sync",
      "description": "Bi-directional resource sync (used by the desktop app)."
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhooks from third parties."
    },
    {
      "name": "Admin",
      "description": "Platform-operator surface (INFRAWRENCH_PLATFORM_ADMIN_EMAILS allowlist), e.g. complimentary orgs."
    },
    {
      "name": "Pages",
      "description": "On-call alerts raised by your own systems, fanned out over the org's SMS, push, Slack, and Teams transports."
    },
    {
      "name": "Push",
      "description": "Mobile push notification devices and preferences."
    },
    {
      "name": "Slack",
      "description": "Slack workspace connection and per-channel alert routing."
    },
    {
      "name": "Microsoft Teams",
      "description": "Microsoft Teams webhook connections and per-channel alert routing."
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "wos-session",
        "description": "WorkOS-issued sealed session cookie (httpOnly, set by `/callback`). Used by browser clients."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "WorkOS access token (JWT) or Infrawrench API key. Used by programmatic clients."
      }
    },
    "schemas": {
      "Session": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "needsOnboarding": {
            "type": "boolean"
          }
        },
        "required": [
          "userId",
          "email",
          "needsOnboarding"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "OrganizationRole": {
        "type": "string",
        "enum": [
          "owner",
          "admin",
          "member"
        ]
      },
      "OrgMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          }
        },
        "required": [
          "id",
          "displayName",
          "role"
        ],
        "additionalProperties": false
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "profilePictureUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSignInAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "identities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string",
                  "description": "WorkOS OAuth provider id",
                  "example": "GoogleOAuth"
                }
              },
              "required": [
                "provider"
              ],
              "additionalProperties": false
            },
            "description": "Connected OAuth accounts, if any"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt",
          "identities"
        ],
        "additionalProperties": false
      },
      "ProfileSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "profilePictureUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSignInAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "OrganizationRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "OwnershipBlocker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "memberCount": {
            "type": "integer",
            "description": "People in the organization"
          }
        },
        "required": [
          "id",
          "name",
          "memberCount"
        ],
        "additionalProperties": false
      },
      "AccountDeletionPreview": {
        "type": "object",
        "properties": {
          "organizationsToDelete": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationRef"
            },
            "description": "Deleted with the account \u2014 the caller is their only member."
          },
          "organizationsToLeave": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationRef"
            },
            "description": "Survive; the caller's membership is removed."
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OwnershipBlocker"
            },
            "description": "Non-empty means DELETE /api/profile will refuse until another owner is promoted."
          }
        },
        "required": [
          "organizationsToDelete",
          "organizationsToLeave",
          "blockers"
        ],
        "additionalProperties": false
      },
      "AccountDeleted": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "organizationsDeleted": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "organizationsDeleted"
        ],
        "additionalProperties": false
      },
      "ReauthenticationRequired": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "enum": [
              "reauthentication_required"
            ]
          }
        },
        "required": [
          "error",
          "code"
        ],
        "additionalProperties": false
      },
      "OwnershipTransferRequired": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "transfer_ownership_required"
            ]
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OwnershipBlocker"
            }
          }
        },
        "required": [
          "error",
          "code",
          "organizations"
        ],
        "additionalProperties": false
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "AuthFactor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "totp",
              "sms",
              "generic_otp"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "totpIssuer": {
            "type": [
              "string",
              "null"
            ]
          },
          "totpUser": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "updatedAt",
          "totpIssuer",
          "totpUser"
        ],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "factorId": {
            "type": "string"
          },
          "challengeId": {
            "type": "string"
          },
          "qrCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data-URI image of the enrolment QR code"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base32 secret, for manual entry"
          },
          "uri": {
            "type": [
              "string",
              "null"
            ],
            "description": "`otpauth://` URI"
          }
        },
        "required": [
          "factorId",
          "challengeId",
          "qrCode",
          "secret",
          "uri"
        ],
        "additionalProperties": false
      },
      "UserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ipAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "userAgent": {
            "type": [
              "string",
              "null"
            ]
          },
          "authMethod": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "current": {
            "type": "boolean",
            "description": "True for the session making this request"
          }
        },
        "required": [
          "id",
          "ipAddress",
          "userAgent",
          "authMethod",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "current"
        ],
        "additionalProperties": false
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "displayName"
        ],
        "additionalProperties": false
      },
      "CreateOrgRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Acme Inc"
          }
        },
        "required": [
          "displayName"
        ],
        "additionalProperties": false
      },
      "InvitationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "role",
          "expiresAt",
          "acceptedAt",
          "organizationId",
          "organizationName"
        ],
        "additionalProperties": false
      },
      "AcceptInvitationResponse": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "displayName"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "organization"
        ],
        "additionalProperties": false
      },
      "AcceptInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "additionalProperties": false
      },
      "CredentialFieldRegion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "CredentialField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          },
          "sensitive": {
            "type": "boolean"
          },
          "multiline": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialFieldRegion"
            }
          },
          "helpLink": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "label"
        ],
        "additionalProperties": false
      },
      "PreflightPermission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Provider-native permission string, e.g. `ce:GetCostAndUsage`."
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "PreflightCapability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "costs"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "requiredPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightPermission"
            }
          },
          "essential": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "label",
          "requiredPermissions"
        ],
        "additionalProperties": false
      },
      "PreflightDeclaration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightCapability"
            }
          },
          "templateFormat": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "enum": [
                  "json",
                  "yaml",
                  "text"
                ]
              }
            },
            "required": [
              "label",
              "language"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "capabilities"
        ],
        "additionalProperties": false,
        "description": "Declared when the plugin supports credential preflight (per-capability permission checks). `null` for plugins without it."
      },
      "PluginSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "logoSvg": {
            "type": "string"
          },
          "credentialFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialField"
            }
          },
          "preflight": {
            "$ref": "#/components/schemas/PreflightDeclaration"
          }
        },
        "required": [
          "id",
          "displayName",
          "logoSvg",
          "credentialFields",
          "preflight"
        ],
        "additionalProperties": false
      },
      "PolicyTemplate": {
        "type": "object",
        "properties": {
          "formatLabel": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "json",
              "yaml",
              "text"
            ]
          },
          "document": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "helpLink": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "formatLabel",
          "language",
          "document"
        ],
        "additionalProperties": false
      },
      "PolicyTemplateResponse": {
        "type": "object",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/PolicyTemplate"
          }
        },
        "required": [
          "template"
        ],
        "additionalProperties": false
      },
      "PluginId": {
        "type": "string",
        "enum": [
          "anthropic",
          "assemblyai",
          "aws",
          "azure",
          "cartesia",
          "clickhouse",
          "cloudflare",
          "cloudinary",
          "cohere",
          "databricks",
          "deepgram",
          "deepseek",
          "digitalocean",
          "docker",
          "elevenlabs",
          "fireworks",
          "fly",
          "gcp",
          "gemini",
          "gladia",
          "groq",
          "hetzner",
          "kafka",
          "kubernetes",
          "memcached",
          "mistral",
          "mongodb",
          "mssql",
          "mysql",
          "neon",
          "netlify",
          "openai",
          "openrouter",
          "opensearch",
          "ovh",
          "planetscale",
          "postgres",
          "redis",
          "replicate",
          "revai",
          "scaleway",
          "speechmatics",
          "ssh",
          "together",
          "turso",
          "vercel",
          "workos",
          "xai"
        ],
        "description": "Manifest id of an installed plugin.",
        "example": "anthropic"
      },
      "PreflightCheck": {
        "type": "object",
        "properties": {
          "capabilityId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "missing",
              "unknown"
            ]
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightPermission"
            }
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "helpLink": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "capabilityId",
          "status",
          "missingPermissions",
          "message",
          "helpLink"
        ],
        "additionalProperties": false
      },
      "PreflightReport": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "supported": {
            "type": "boolean"
          },
          "identity": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provider-side identity the credential resolved to (ARN, service account\u2026)."
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightCheck"
            }
          }
        },
        "required": [
          "pluginId",
          "supported",
          "identity",
          "checks"
        ],
        "additionalProperties": false
      },
      "PreflightRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Probe through this bastion, matching how the account will egress once created.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "pluginId",
          "credentials"
        ],
        "additionalProperties": false
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Bastion this account's cloud-API egress is routed through. `null` \u21d2 direct egress.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "pluginId",
          "displayName",
          "bastionId",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CreateAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "syncError": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": [
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional bastion id to route this account's cloud API traffic through.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "pluginId",
          "displayName",
          "credentials"
        ],
        "additionalProperties": false
      },
      "UpdatedAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "id",
          "displayName",
          "bastionId"
        ],
        "additionalProperties": false
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Pass `null` to unbind, a uuid to bind, or omit the field to leave the binding unchanged.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "ResourceId": {
        "type": "string",
        "minLength": 1,
        "pattern": "^[^:]+:[^:]+:.+$",
        "description": "Composite id `pluginId:accountId:externalId`.",
        "example": "gcp:00000000-0000-0000-0000-000000000000:projects/p/instances/i"
      },
      "JsonObject": {
        "type": "object",
        "description": "Free-form JSON object whose shape depends on the plugin.",
        "additionalProperties": true
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ]
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "parentResourceId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceId"
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "displayName",
          "externalId",
          "fieldsJson",
          "outputsJson",
          "parentResourceId"
        ],
        "additionalProperties": false
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "synced": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "synced"
        ],
        "additionalProperties": false
      },
      "ResourceTypeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "pluralDisplayName": {
            "type": "string"
          },
          "parentTypeId": {
            "type": "string"
          },
          "supportsCreate": {
            "type": "boolean"
          },
          "attachTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "matchField": {
                  "type": "string"
                },
                "verb": {
                  "type": "string"
                }
              },
              "required": [
                "pluginId",
                "resourceTypeId"
              ],
              "additionalProperties": false
            }
          },
          "isSshHost": {
            "type": "boolean"
          },
          "sshTunnelAttachSource": {
            "type": "boolean"
          },
          "schedulable": {
            "type": "boolean",
            "description": "The type declares lifecycle start/stop actions, so its resources can carry a sleep/wake schedule."
          }
        },
        "required": [
          "id",
          "displayName",
          "supportsCreate"
        ],
        "additionalProperties": false
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "pluginId": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "pluginId",
              "displayName"
            ],
            "additionalProperties": false
          },
          "resourceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceTypeSummary"
            }
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "pluginLogoSvg": {
            "type": "string"
          }
        },
        "required": [
          "account",
          "resourceTypes",
          "pluginDisplayName",
          "pluginLogoSvg"
        ],
        "additionalProperties": false
      },
      "SyncedResource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ]
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "parentResourceId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceId"
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "displayName",
          "externalId",
          "fieldsJson",
          "outputsJson",
          "parentResourceId"
        ],
        "additionalProperties": false
      },
      "ResourceTypeId": {
        "type": "string",
        "enum": [
          "access-application",
          "access-policy",
          "account",
          "acm-certificate",
          "agent-api-key",
          "ai-gateway",
          "ai-search",
          "alb",
          "alert-policy",
          "alloydb-cluster",
          "alloydb-instance",
          "api-gateway",
          "api-key",
          "app",
          "app-engine-service",
          "apprunner-service",
          "artifact-registry-repo",
          "audit-event",
          "auto-scaling-group",
          "azure-aks-cluster",
          "azure-app-gateway",
          "azure-app-registration",
          "azure-app-service",
          "azure-app-service-plan",
          "azure-container-instance",
          "azure-container-registry",
          "azure-cosmos-db",
          "azure-disk",
          "azure-dns-zone",
          "azure-event-hub",
          "azure-firewall",
          "azure-function-app",
          "azure-key-vault",
          "azure-load-balancer",
          "azure-log-analytics",
          "azure-managed-identity",
          "azure-mysql-flexible",
          "azure-nat-gateway",
          "azure-nsg",
          "azure-postgres-flexible",
          "azure-private-dns-zone",
          "azure-public-ip",
          "azure-redis-cache",
          "azure-resource-group",
          "azure-route-table",
          "azure-service-bus",
          "azure-sql-database",
          "azure-storage-account",
          "azure-subnet",
          "azure-vm",
          "azure-vnet",
          "backend-service",
          "backup-vault",
          "balance",
          "batch",
          "batch-inference-job",
          "batch-job-queue",
          "bedrock-model",
          "bigquery-dataset",
          "bigquery-table",
          "bigtable-instance",
          "block-volume",
          "cache-rule",
          "cached-content",
          "certificate",
          "ch-database",
          "ch-service",
          "cloud-armor-policy",
          "cloud-build-trigger",
          "cloud-deploy-pipeline",
          "cloud-dns-record-set",
          "cloud-dns-zone",
          "cloud-function",
          "cloud-nat",
          "cloud-router",
          "cloud-run-service",
          "cloud-scheduler-job",
          "cloud-tasks-queue",
          "cloudformation-stack",
          "cloudfront-distribution",
          "cloudsql-instance",
          "cloudtrail-trail",
          "cloudwatch-alarm",
          "cloudwatch-log-group",
          "codebuild-project",
          "codepipeline-pipeline",
          "cognito-user-pool",
          "collection",
          "composer-environment",
          "connection",
          "container",
          "container-registry",
          "custom-hostname",
          "custom-voice",
          "d1-database",
          "databricks-app",
          "databricks-catalog",
          "databricks-cluster",
          "databricks-cluster-policy",
          "databricks-dashboard",
          "databricks-function",
          "databricks-job",
          "databricks-model-version",
          "databricks-node-type",
          "databricks-pipeline",
          "databricks-registered-model",
          "databricks-repo",
          "databricks-schema",
          "databricks-secret-scope",
          "databricks-serving-endpoint",
          "databricks-sql-query",
          "databricks-sql-warehouse",
          "databricks-table",
          "databricks-vector-search-endpoint",
          "databricks-vector-search-index",
          "databricks-volume",
          "databricks-workspace-object",
          "dataflow-job",
          "dataset",
          "db-subnet-group",
          "db-user",
          "dedicated-inference",
          "deployed-model",
          "deployment",
          "directory",
          "directory-group",
          "directory-user",
          "dns-record",
          "docker-container",
          "docker-image",
          "docker-network",
          "docker-volume",
          "documentdb-cluster",
          "doks-cluster",
          "domain",
          "droplet",
          "durable-object-namespace",
          "dynamodb-table",
          "ebs-volume",
          "ec2-instance",
          "ecr-repository",
          "ecs-service",
          "efs-file-system",
          "eks-cluster",
          "elastic-ip",
          "elasticache-cluster",
          "email-routing-rule",
          "embed-job",
          "endpoint",
          "eval",
          "evaluation",
          "eventbridge-rule",
          "file",
          "file-search-document",
          "file-search-store",
          "fine-tune",
          "fine-tuning-job",
          "finetuned-model",
          "firestore-database",
          "firewall",
          "firewall-rule",
          "floating-ip",
          "folder",
          "forwarding-rule",
          "gateway",
          "gce-disk",
          "gce-instance",
          "gcp-project",
          "gcp-service-account",
          "gcs-bucket",
          "gen-ai-agent",
          "gen-ai-knowledge-base",
          "gen-ai-model-router",
          "gke-cluster",
          "glue-database",
          "groq-batch",
          "groq-file",
          "groq-fine-tuning",
          "groq-model",
          "hardware",
          "health-check",
          "healthcheck",
          "history-item",
          "hyperdrive",
          "iam-role",
          "iam-user",
          "image",
          "inference-batch",
          "instance",
          "instance-group",
          "instance-template",
          "internet-gateway",
          "invitation",
          "invite",
          "ip-access-rule",
          "ip-allocation",
          "job",
          "k8s-cluster",
          "k8s-configmap",
          "k8s-cronjob",
          "k8s-daemonset",
          "k8s-deployment",
          "k8s-ingress",
          "k8s-job",
          "k8s-namespace",
          "k8s-node",
          "k8s-pod",
          "k8s-secret",
          "k8s-service",
          "k8s-statefulset",
          "kafka-cluster",
          "kafka-consumer-group",
          "kafka-topic",
          "kapsule-cluster",
          "kinesis-stream",
          "kms-key",
          "kms-key-ring",
          "kv-namespace",
          "lambda-function",
          "load-balancer",
          "log-sink",
          "logpush-job",
          "machine",
          "managed-database",
          "managed-db",
          "managed-endpoint",
          "managed-kube",
          "media-asset",
          "member",
          "memcached-instance",
          "memorystore-memcached",
          "memorystore-redis",
          "message-batch",
          "mistral-api-key",
          "mistral-batch-job",
          "mistral-file",
          "mistral-fine-tuning-job",
          "mistral-model",
          "mistral-voice",
          "model",
          "model-api-key",
          "model-endpoint",
          "mongodb-database",
          "mq-broker",
          "msk-cluster",
          "mssql-database",
          "mysql-database",
          "nat-gateway",
          "neon-ai-gateway",
          "neon-auth",
          "neon-auth-domain",
          "neon-auth-oauth-provider",
          "neon-branch",
          "neon-bucket",
          "neon-credential",
          "neon-data-api",
          "neon-database",
          "neon-endpoint",
          "neon-function",
          "neon-project",
          "neon-role",
          "neon-snapshot",
          "neptune-cluster",
          "netlify-build-hook",
          "netlify-deploy",
          "netlify-dns-record",
          "netlify-dns-zone",
          "netlify-env-var",
          "netlify-form",
          "netlify-site",
          "network",
          "nfs-share",
          "notification-policy",
          "object-storage-bucket",
          "opensearch-cluster",
          "opensearch-domain",
          "organization",
          "organization-membership",
          "organization-user",
          "page-rule",
          "pg-database",
          "pg-schema",
          "placement-group",
          "prediction",
          "primary-ip",
          "private-network",
          "project",
          "project-api-key",
          "pronunciation-dict",
          "pronunciation-dictionary",
          "provider",
          "ps-backup",
          "ps-branch",
          "ps-database",
          "ps-deploy-request",
          "ps-password",
          "pubsub-subscription",
          "pubsub-topic",
          "queue",
          "quota",
          "r2-bucket",
          "rate-limit-rule",
          "rdb-instance",
          "rds-cluster",
          "rds-instance",
          "redirect-rule",
          "redis-instance",
          "redshift-cluster",
          "reserved-ip",
          "role",
          "route-table",
          "route53-health-check",
          "route53-hosted-zone",
          "route53-record-set",
          "s3-bucket",
          "sagemaker-endpoint",
          "secret",
          "secret-manager-secret",
          "secrets-manager-secret",
          "security-group",
          "server",
          "snapshot",
          "sns-topic",
          "spaces-bucket",
          "spanner-backup",
          "spanner-database",
          "spanner-instance",
          "spectrum-application",
          "sqs-queue",
          "ssh-key",
          "ssh-target",
          "ssl-certificate",
          "ssm-parameter",
          "static-ip",
          "step-function",
          "subnet",
          "supervised-fine-tuning-job",
          "target-group",
          "training",
          "transcript",
          "transcription",
          "transformation",
          "tuned-model",
          "tunnel",
          "turnstile-widget",
          "turso-api-token",
          "turso-database",
          "turso-database-instance",
          "turso-group",
          "turso-location",
          "turso-organization-invite",
          "turso-organization-member",
          "upload-preset",
          "user",
          "vector-store",
          "vectorize-index",
          "vercel-deployment",
          "vercel-domain",
          "vercel-env-var",
          "vercel-project",
          "vercel-team",
          "vertex-ai-endpoint",
          "vertex-gemini-model",
          "vocabulary",
          "voice",
          "volume",
          "vpc",
          "vpc-network",
          "waf-web-acl",
          "waiting-room",
          "webhook-endpoint",
          "worker",
          "worker-route",
          "workers-ai-model",
          "workflow",
          "workspace",
          "zone"
        ],
        "description": "Resource type id. Note: not every plugin exposes every type \u2014 see the plugin's `resourceTypes` for the valid (pluginId, typeId) pairs.",
        "example": "access-application"
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "isDefault"
        ],
        "additionalProperties": false
      },
      "DashboardFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "syncVersion": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "isDefault",
          "createdAt",
          "updatedAt",
          "deletedAt",
          "syncVersion"
        ],
        "additionalProperties": false
      },
      "DashboardPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": [
          "pinId",
          "resourceId",
          "gridX",
          "gridY",
          "gridW",
          "gridH"
        ],
        "additionalProperties": false
      },
      "DashboardWorkflowPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "gridX": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lastRunAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastStatus": {
            "type": [
              "string",
              "null"
            ]
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "unit": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value": {}
              },
              "required": [
                "key",
                "label",
                "unit"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "pinId",
          "workflowId",
          "gridX",
          "name",
          "lastRunAt",
          "lastStatus",
          "metrics"
        ],
        "additionalProperties": false
      },
      "DashboardWidgetKind": {
        "type": "string",
        "enum": [
          "cost_graph",
          "budget",
          "custom_graph"
        ]
      },
      "DashboardWidget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH"
        ],
        "additionalProperties": false
      },
      "DashboardWithPins": {
        "type": "object",
        "properties": {
          "dashboard": {
            "$ref": "#/components/schemas/DashboardFull"
          },
          "pins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardPin"
            }
          },
          "workflowPins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWorkflowPin"
            }
          },
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWidget"
            }
          }
        },
        "required": [
          "dashboard",
          "pins",
          "workflowPins",
          "widgets"
        ],
        "additionalProperties": false
      },
      "DashboardWidgetFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "syncVersion": {
            "type": "integer"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "syncVersion",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "CreateWidgetRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          }
        },
        "required": [
          "dashboardId",
          "kind",
          "config"
        ],
        "additionalProperties": false
      },
      "UpdateWidgetRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer",
            "minimum": 0
          },
          "gridY": {
            "type": "integer",
            "minimum": 0
          },
          "gridW": {
            "type": "integer",
            "minimum": 0
          },
          "gridH": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "PinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          }
        },
        "required": [
          "dashboardId",
          "resourceId"
        ],
        "additionalProperties": false
      },
      "ReorderRequest": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "resource",
                    "workflow",
                    "widget"
                  ]
                },
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "kind",
                "id"
              ],
              "additionalProperties": false
            }
          },
          "resourceIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        },
        "additionalProperties": false
      },
      "UnpinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": [
          "dashboardId",
          "resourceId"
        ],
        "additionalProperties": false
      },
      "WorkflowPinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "dashboardId",
          "workflowId"
        ],
        "additionalProperties": false
      },
      "ValidateTabsResponse": {
        "type": "object",
        "properties": {
          "validTabIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "validTabIds"
        ],
        "additionalProperties": false
      },
      "TabTarget": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "dashboard",
              "account",
              "resource",
              "agents",
              "costs",
              "savings",
              "graph",
              "logs",
              "changes",
              "expiring",
              "posture",
              "dns",
              "ssh-fanout",
              "metric-alerts",
              "probes",
              "workflows",
              "deployments",
              "settings",
              "chat"
            ]
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "kind"
        ],
        "additionalProperties": false
      },
      "ValidateTabsRequest": {
        "type": "object",
        "properties": {
          "tabs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "target": {
                  "$ref": "#/components/schemas/TabTarget"
                }
              },
              "required": [
                "id",
                "target"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "tabs"
        ],
        "additionalProperties": false
      },
      "ProbeStatus": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "error": {
            "type": "string"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonObject"
            }
          },
          "sparkline": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "number",
                  "description": "Unix epoch milliseconds."
                },
                "value": {
                  "type": "number"
                }
              },
              "required": [
                "timestamp",
                "value"
              ],
              "additionalProperties": false
            }
          },
          "sparklineLabel": {
            "type": "string"
          },
          "resourceCounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "typeLabel": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "typeLabel",
                "count"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "phase"
        ],
        "additionalProperties": false
      },
      "PinFull": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "pluginLogoSvg": {
            "type": "string"
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ProbeStatus"
          }
        },
        "required": [
          "pinId",
          "resourceId",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "displayName",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "fieldsJson",
          "outputsJson",
          "pluginLogoSvg",
          "pluginDisplayName",
          "status"
        ],
        "additionalProperties": false
      },
      "PinRangeMetricSeries": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "number"
                },
                "value": {
                  "type": "number"
                }
              },
              "required": [
                "timestamp",
                "value"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "label",
          "points"
        ],
        "additionalProperties": false
      },
      "PinRangeResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PinRangeMetricSeries"
            }
          }
        },
        "required": [
          "series"
        ],
        "additionalProperties": false
      },
      "ProbeRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resourceId": {
                  "$ref": "#/components/schemas/ResourceId"
                },
                "accountId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                }
              },
              "required": [
                "resourceId",
                "accountId",
                "pluginId",
                "resourceTypeId"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      },
      "CostPushResponse": {
        "type": "object",
        "properties": {
          "written": {
            "type": "integer"
          }
        },
        "required": [
          "written"
        ],
        "additionalProperties": false
      },
      "PushedCostRow": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "UTC day the spend belongs to.",
            "example": "2026-07-01"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "USD"
          },
          "amount": {
            "type": "number",
            "description": "Money for this day/dimension combination. Negative for credits."
          },
          "service": {
            "type": "string",
            "maxLength": 256,
            "description": "Becomes a group/filter value.",
            "example": "Snowflake Compute"
          },
          "region": {
            "type": "string",
            "maxLength": 256
          },
          "resourceId": {
            "type": "string",
            "maxLength": 256,
            "description": "Opaque id of the thing being billed; groups the `resource` dimension."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cost-allocation tags, at most 32. Keys starting with `infrawrench:` are reserved and rejected."
          },
          "usageAmount": {
            "type": "number"
          },
          "usageUnit": {
            "type": "string",
            "maxLength": 256
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Attribute this row to a connected account. Must belong to the calling organization. Omit to attribute it to the source itself.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "date",
          "currency",
          "amount"
        ],
        "additionalProperties": false
      },
      "CostPushRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "maxLength": 64,
            "description": "Stable slug naming the system that owns these rows: letters, digits, `.`, `_` and `-`. It groups the rows under an `External` provider and an `external:<source>` account, and re-pushing the same source over the same days restates only its own rows.",
            "example": "snowflake-invoices"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushedCostRow"
            },
            "maxItems": 5000
          }
        },
        "required": [
          "source",
          "rows"
        ],
        "additionalProperties": false
      },
      "CostSeriesPoint": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "amount": {
            "type": "number"
          }
        },
        "required": [
          "bucket",
          "amount"
        ],
        "additionalProperties": false
      },
      "CostQuerySeries": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            }
          }
        },
        "required": [
          "key",
          "label",
          "currency",
          "points"
        ],
        "additionalProperties": false
      },
      "CostQueryResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "comparison": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "forecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            }
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "previousTotals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "required": [
          "series",
          "currencies",
          "totals"
        ],
        "additionalProperties": false
      },
      "CostDimension": {
        "type": "string",
        "enum": [
          "provider",
          "account",
          "service",
          "region",
          "resource",
          "tag"
        ]
      },
      "CostFilter": {
        "type": "object",
        "properties": {
          "dimension": {
            "$ref": "#/components/schemas/CostDimension"
          },
          "op": {
            "type": "string",
            "enum": [
              "in",
              "not_in"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "tagKey": {
            "type": "string"
          }
        },
        "required": [
          "dimension",
          "op",
          "values"
        ],
        "additionalProperties": false
      },
      "CostQueryRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "binning": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly",
              "cumulative"
            ]
          },
          "groupBy": {
            "type": "string",
            "enum": [
              "none",
              "provider",
              "account",
              "service",
              "region",
              "resource",
              "tag"
            ]
          },
          "groupByTagKey": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostFilter"
            }
          },
          "topN": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15
          },
          "comparePreviousPeriod": {
            "type": "boolean"
          },
          "forecast": {
            "type": "boolean"
          }
        },
        "required": [
          "from",
          "to",
          "binning",
          "groupBy"
        ],
        "additionalProperties": false
      },
      "CostDimensionValues": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "value",
                    "label"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          }
        },
        "required": [
          "values"
        ],
        "additionalProperties": false
      },
      "CostAnomaly": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "day": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "The anomalous UTC day.",
            "example": "2026-07-01"
          },
          "kind": {
            "type": "string",
            "enum": [
              "spike",
              "new_source"
            ],
            "description": "Which detection produced the row. `spike` is spend far above the key's own trailing baseline; `new_source` is a provider or service with no spend at all across the trailing window that suddenly has material spend \u2014 it can never be a `spike`, since a zero baseline has no mean or deviation to exceed. Rows written before new-source detection existed read as `spike`."
          },
          "dimension": {
            "type": "string",
            "enum": [
              "provider",
              "service"
            ]
          },
          "dimensionKey": {
            "type": "string",
            "description": "The dimension's value \u2014 a plugin id or a service name."
          },
          "currency": {
            "type": "string"
          },
          "actualCents": {
            "type": "integer"
          },
          "baselineCents": {
            "type": "integer",
            "description": "Mean daily spend over the trailing 28-day baseline, in cents. Zero, or near it, for a `new_source` \u2014 clients must not compute a percentage change from it."
          },
          "thresholdCents": {
            "type": "integer",
            "description": "The detection bar the day cleared, in cents: baseline mean + N\u00b7stddev for a `spike`, the new-source floor for a `new_source`."
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "notifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the anomaly was delivered to a notification channel; null when delivery failed or a recent anomaly for the same key suppressed it."
          },
          "hints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Root-cause hints computed when the anomaly fired: human-readable facts from the change timeline and audit log for the anomalous day and the day before (e.g. \"12 gce-instance resources appeared\", a workflow run, a lifted change freeze), ranked by likely relevance and capped at three. Empty when nothing notable happened in the window or the anomaly predates hint collection."
          }
        },
        "required": [
          "id",
          "day",
          "kind",
          "dimension",
          "dimensionKey",
          "currency",
          "actualCents",
          "baselineCents",
          "thresholdCents",
          "detectedAt",
          "notifiedAt",
          "hints"
        ],
        "additionalProperties": false
      },
      "CostAnomalySettings": {
        "type": "object",
        "properties": {
          "sigmas": {
            "type": "number",
            "minimum": 1,
            "maximum": 10,
            "description": "Standard deviations above a key's own trailing mean that count as a spike. Lower is more sensitive. Bounded at 1 \u2014 below that roughly a third of ordinary days clear the bar \u2014 and at 10, above which nothing short of a 10x jump fires. Defaults to 3."
          },
          "minDeltaCents": {
            "type": "integer",
            "minimum": 100,
            "maximum": 10000000,
            "description": "Minimum rise over the baseline mean before a spike alerts, in USD cents (converted per series, so it means the same real amount in every currency). Defaults to 1000 ($10)."
          },
          "newSourceMinCents": {
            "type": "integer",
            "minimum": 100,
            "maximum": 10000000,
            "description": "Minimum first-day spend before a new spend source alerts, in USD cents. A key with no prior spend has no statistical bar to clear, so this absolute floor is the only thing keeping a new $0.02/day service quiet. Defaults to 2500 ($25)."
          },
          "smsAlerts": {
            "type": "string",
            "enum": [
              "off",
              "new_source",
              "all"
            ],
            "description": "Which anomalies also text the organization's Twilio recipients. Defaults to `off` \u2014 an organization with Twilio configured for budgets does not start receiving anomaly texts until it asks to. `new_source` texts only about spend appearing from nothing, which is what a leaked key looks like on a bill; `all` adds spikes on existing lines. Delivery is batched \u2014 one SMS per detection pass summarizing what it alerted on, at most one every six hours per organization \u2014 and never places a voice call. Push, Slack and Teams delivery is unaffected by this setting."
          }
        },
        "required": [
          "sigmas",
          "minDeltaCents",
          "newSourceMinCents",
          "smsAlerts"
        ],
        "additionalProperties": false
      },
      "CostAnomalySettingsView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CostAnomalySettings"
          },
          {
            "type": "object",
            "properties": {
              "smsConfigured": {
                "type": "boolean",
                "description": "Whether an SMS raised right now could be delivered: paging enabled for the organization, Twilio credentials and a from-number stored, and at least one recipient opted into SMS. Read-only and derived \u2014 it is not accepted on PUT."
              }
            },
            "required": [
              "smsConfigured"
            ],
            "additionalProperties": false
          }
        ]
      },
      "CostAccountStatus": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "supportsCosts": {
            "type": "boolean"
          },
          "periodNative": {
            "type": "boolean"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "service",
                "region",
                "resource",
                "tag"
              ]
            }
          },
          "costLastPolledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "costBackfilledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "costPollFailureCount": {
            "type": "integer"
          },
          "costPollError": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "helpLink": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "label",
                  "url"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "message",
              "helpLink"
            ],
            "additionalProperties": false,
            "description": "Last cost-collection failure for this account, cleared on the next success. `helpLink` points at the provider page that fixes a setup problem when the plugin can identify one (e.g. GCP's billing export console)."
          },
          "coverage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "firstDay": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "example": "2026-07-01"
              },
              "lastDay": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "example": "2026-07-01"
              }
            },
            "required": [
              "firstDay",
              "lastDay"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "accountId",
          "pluginId",
          "displayName",
          "supportsCosts",
          "periodNative",
          "dimensions",
          "costLastPolledAt",
          "costBackfilledAt",
          "costPollFailureCount",
          "costPollError",
          "coverage"
        ],
        "additionalProperties": false
      },
      "OrphanCostAnnotation": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Spend over the trailing cost window."
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "additionalProperties": false,
        "description": "Best-effort trailing spend matched from collected per-resource cost rows; null when the provider reports no per-resource cost. The flag itself never depends on billing data."
      },
      "OrphanedResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Infrawrench resource id."
          },
          "pluginId": {
            "$ref": "#/components/schemas/PluginId"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "resourceTypeName": {
            "type": "string",
            "example": "EBS Volume"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provider-native id, when known."
          },
          "reason": {
            "type": "string",
            "description": "Plugin-authored explanation of why this resource looks wasted.",
            "example": "Volume is not attached to any Droplet"
          },
          "cost": {
            "$ref": "#/components/schemas/OrphanCostAnnotation"
          },
          "lastSyncedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "resourceTypeName",
          "displayName",
          "externalId",
          "reason",
          "cost",
          "lastSyncedAt"
        ],
        "additionalProperties": false
      },
      "OrphanAccountGroup": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "accountName": {
            "type": "string"
          },
          "pluginId": {
            "$ref": "#/components/schemas/PluginId"
          },
          "pluginName": {
            "type": "string",
            "example": "DigitalOcean"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrphanedResource"
            }
          }
        },
        "required": [
          "accountId",
          "accountName",
          "pluginId",
          "pluginName",
          "resources"
        ],
        "additionalProperties": false
      },
      "OrphanListResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrphanAccountGroup"
            },
            "description": "Groups sorted by account name."
          },
          "totalCount": {
            "type": "integer"
          },
          "costWindowDays": {
            "type": "integer",
            "description": "Days of trailing spend the annotations cover."
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "accounts",
          "totalCount",
          "costWindowDays",
          "generatedAt"
        ],
        "additionalProperties": false
      },
      "OversizedSizeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cx32"
          },
          "label": {
            "type": "string"
          },
          "vcpus": {
            "type": "integer"
          },
          "memoryMb": {
            "type": "integer"
          },
          "priceMonthly": {
            "type": [
              "number",
              "null"
            ],
            "description": "Monthly catalog price in `currency`; null when unpriced."
          }
        },
        "required": [
          "id",
          "label",
          "vcpus",
          "memoryMb",
          "priceMonthly"
        ],
        "additionalProperties": false
      },
      "OversizedResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Infrawrench resource id."
          },
          "pluginId": {
            "$ref": "#/components/schemas/PluginId"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "resourceTypeName": {
            "type": "string",
            "example": "Server"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provider-native id, when known."
          },
          "sizeFieldKey": {
            "type": "string",
            "description": "Field to submit through the resource-update endpoint to apply the recommended size.",
            "example": "serverType"
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provider region/zone/location the resource lives in."
          },
          "currentSize": {
            "$ref": "#/components/schemas/OversizedSizeSummary"
          },
          "recommendedSize": {
            "$ref": "#/components/schemas/OversizedSizeSummary"
          },
          "cpuP95": {
            "type": "number",
            "description": "p95 CPU utilisation over the window, percent of the current size."
          },
          "memoryP95": {
            "type": [
              "number",
              "null"
            ],
            "description": "p95 memory utilisation, percent of the current size; null when unmeasured."
          },
          "memoryMeasured": {
            "type": "boolean",
            "description": "False when the provider stores no memory series for this resource."
          },
          "projectedCpuP95": {
            "type": "number",
            "description": "Projected p95 CPU on the recommended size, for the confirm dialog."
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 code the size prices are quoted in.",
            "example": "USD"
          },
          "monthlySaving": {
            "type": [
              "number",
              "null"
            ],
            "description": "Current minus recommended monthly price; null when either side is unpriced."
          },
          "resizeNote": {
            "type": [
              "string",
              "null"
            ],
            "description": "Plugin-authored caveat (e.g. the provider requires the machine stopped)."
          },
          "lastSyncedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "resourceTypeName",
          "displayName",
          "externalId",
          "sizeFieldKey",
          "region",
          "currentSize",
          "recommendedSize",
          "cpuP95",
          "memoryP95",
          "memoryMeasured",
          "projectedCpuP95",
          "currency",
          "monthlySaving",
          "resizeNote",
          "lastSyncedAt"
        ],
        "additionalProperties": false
      },
      "OversizedAccountGroup": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "accountName": {
            "type": "string"
          },
          "pluginId": {
            "$ref": "#/components/schemas/PluginId"
          },
          "pluginName": {
            "type": "string",
            "example": "Hetzner"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OversizedResource"
            }
          }
        },
        "required": [
          "accountId",
          "accountName",
          "pluginId",
          "pluginName",
          "resources"
        ],
        "additionalProperties": false
      },
      "RightsizingListResponse": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OversizedAccountGroup"
            },
            "description": "Groups sorted by account name."
          },
          "totalCount": {
            "type": "integer"
          },
          "windowDays": {
            "type": "integer",
            "description": "Days of stored metrics the percentiles cover."
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "accounts",
          "totalCount",
          "windowDays",
          "generatedAt"
        ],
        "additionalProperties": false
      },
      "BudgetCostFilter": {
        "type": "object",
        "properties": {
          "dimension": {
            "type": "string",
            "enum": [
              "provider",
              "account",
              "service",
              "region",
              "resource",
              "tag"
            ]
          },
          "op": {
            "type": "string",
            "enum": [
              "in",
              "not_in"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "tagKey": {
            "type": "string"
          }
[...]
