{
  "openapi": "3.1.0",
  "info": {
    "title": "Infrawrench API",
    "version": "1.39.0",
    "description": "REST API for the Infrawrench cloud SaaS. Plugin and resource type IDs are enumerated from the live plugin registry at spec-build time, so this document always matches what the running server actually accepts.",
    "license": {
      "name": "BUSL-1.1",
      "url": "https://mariadb.com/bsl11/"
    }
  },
  "servers": [
    {
      "url": "https://app.infrawrench.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "security": [
    {
      "sessionCookie": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Session and identity."
    },
    {
      "name": "Profile",
      "description": "The signed-in user's own account: name, password reset, two-factor factors, and active sessions."
    },
    {
      "name": "Organizations",
      "description": "Org creation and membership."
    },
    {
      "name": "Invitations",
      "description": "Accepting team invites."
    },
    {
      "name": "Accounts",
      "description": "Provider connections (cloud accounts)."
    },
    {
      "name": "Dashboards",
      "description": "Pinned resources, custom dashboards."
    },
    {
      "name": "Custom graphs",
      "description": "Script-defined dashboard charts run in a server-side sandbox."
    },
    {
      "name": "Costs",
      "description": "Actual spend, collected from provider billing APIs into daily rows and queried by dimension, plus pushed rows for systems without a plugin. Totals are net — credits, refunds and tax included — unless a charge-type filter narrows them."
    },
    {
      "name": "Commitments",
      "description": "Reserved instances, savings plans and committed-use discounts: the inventory of what was purchased, how much of the usage bill it covers (reported as a range — there is no single honest denominator), utilization measured only over days with collected cost data, and a planner that recommends commitment sizes at the p10 floor of uncovered spend. Read-only: nothing here ever purchases."
    },
    {
      "name": "Network flows",
      "description": "Priced source→destination attribution of egress and cross-zone traffic — which two things are talking, across which billing boundary, and what that costs. It exists because every cost dimension describes one side of a transfer while a network charge describes a pair, so the total is visible in the cost surface and the cause is not. Everything here is an estimate: flow logs sample, and prices are published list rates with no free tier, volume tier or negotiated discount applied. Collection is off until an organization enables it, because the queries are billed to the customer's own cloud account."
    },
    {
      "name": "Cost reports",
      "description": "Named, addressable saved cost graphs. A report owns its config as an org object, so dashboards can reference it by id (the `cost_report` widget kind) and it can be run by id without the caller reassembling the query."
    },
    {
      "name": "Cost annotations",
      "description": "Dated notes drawn over cost charts — \"we migrated to Graviton here\". A note carries a start day and an optional end day, because a deploy is a moment and a migration is a week. With no report id it is org-wide and appears on every cost chart; with one it belongs to that report alone. Annotations are an overlay: they never change a series, a total, or an axis."
    },
    {
      "name": "Scenario models",
      "description": "Named, reusable sets of adjustments overlaid on a cost forecast. A trend fit can only extrapolate what already happened; a scenario is where an organization writes down what it already knows is coming — a purchase next quarter, a team starting in September, a migration that takes a fifth off compute. Applying one never replaces the trend: the query returns both, the adjusted line is labelled with the model's name, and recorded history is never touched. Budgets opt in per budget, never globally, so a hypothesis cannot silently change when people get paged."
    },
    {
      "name": "Billing Rules",
      "description": "The organization's own adjustments to collected spend: a markup that recovers shared overhead, a discount negotiated outside the provider's pricing, a fixed charge per period, or a reallocation that moves a shared cluster's cost onto the teams that use it.\n\nAdjustments are applied **at query time and never written into stored cost data**, so collected spend remains exactly what the provider reported and can still be reconciled against an invoice. Every adjusted answer carries the collected totals beside the adjusted ones and names the rules that moved them, so an adjusted figure can never be read without knowing it is adjusted. Anything that pages a human (budgets, anomaly detection, change alerts, the digest) measures collected spend unless it opts in per object; cost exports are always raw, because they are the audit trail.\n\nPercentage rules compose — two 10% markups are 21%, not 20% — while reallocation is first-match-wins, so a row moves exactly once and total spend is conserved."
    },
    {
      "name": "Business metrics",
      "description": "The denominators unit costs divide by — customers, requests, GB processed, revenue — reported by the organization itself, plus the query that divides spend by them. A unit cost is computed at the bucket asked for from a summed numerator and a summed denominator (a daily ratio averaged over a month is not the monthly ratio), a period with no reported value comes back as an explicit gap rather than as zero, and currencies are never merged. Margin is offered only for a metric declared revenue-shaped, in its own currency."
    },
    {
      "name": "Cost alerts",
      "description": "Change-based cost alerts: fire when spend on a chosen scope moves more than a configured percent and/or amount versus the prior period, on a daily, weekly or monthly cadence. The third alert family — budgets watch an absolute monthly total, anomaly detection watches statistical outliers against a learned baseline, and these watch a configured relative change."
    },
    {
      "name": "Cost exports",
      "description": "Recurring dumps of raw cost rows into a warehouse or object store. A run streams the org's cost rows out of storage and writes one object per period at a deterministic key, to S3-compatible storage or an HTTPS endpoint. Because provider spend is restated for days after the fact, every run also re-writes the periods inside a trailing restatement window and stamps each row with the collection watermark, so a consumer can tell a settled period from a still-moving one."
    },
    {
      "name": "Workflows",
      "description": "Workflow (runbook) surface exposed over HTTP — the approval requests raised by infra.waitForApproval(...) inside runs, and the cron-schedule sub-resource. Full workflow CRUD is managed in the app."
    },
    {
      "name": "Chat",
      "description": "Hosted AI chat — conversation CRUD, the SSE agent stream, pending-action approval, secure secret handoff, and structured answers to agent questions."
    },
    {
      "name": "Resources",
      "description": "CRUD, manifest, logs, secrets, metrics — all dispatched to plugins."
    },
    {
      "name": "Changes",
      "description": "Change timeline / drift feed — resources that appeared, changed, or disappeared between polls."
    },
    {
      "name": "Connections",
      "description": "SQL / KV / Docker / SFTP / Storage operations against live resources."
    },
    {
      "name": "Associations",
      "description": "Output-reference wiring between resources."
    },
    {
      "name": "Search",
      "description": "Cross-account resource search."
    },
    {
      "name": "Orphans",
      "description": "Likely-orphaned and idle resources flagged by plugin heuristics, with best-effort cost."
    },
    {
      "name": "DNS",
      "description": "Cross-provider DNS inventory — every synced zone and record, with dangling targets flagged as subdomain-takeover candidates."
    },
    {
      "name": "Sleep schedules",
      "description": "Off-at/on-at weekly windows on resources whose plugin declares lifecycle start/stop actions; the poller executes due transitions server-side."
    },
    {
      "name": "Resource leases",
      "description": "Optional TTLs on resources ('a test cluster for 3 days'). Active leases ride the expiry radar; auto-delete leases are announced twice and then deleted at expiry by the poller, deferring during change freezes."
    },
    {
      "name": "Ephemeral environments",
      "description": "Capture a set of existing resources as a parameterised template built from each plugin's own create-field metadata, stamp copies of it out in dependency order with a mandatory TTL, and tear them down. Expiry runs through the existing resource-lease pass, so every copy deletes itself."
    },
    {
      "name": "Credit burndown",
      "description": "Prepaid credit balances with a burn rate measured from the server's own series of readings and a runway bounded by both the burn and the credit's own expiry. Only providers that expose a balance appear; most bill in arrears and have no pot to burn down."
    },
    {
      "name": "Credential hygiene",
      "description": "Unused API keys, unreferenced SSH keys, and members holding write permissions they never exercise — derived from the audit log and the credential tables, with no provider call. Only writes are audit-logged, so the report deliberately draws no conclusion about read permissions."
    },
    {
      "name": "Break-glass access",
      "description": "Time-boxed permission elevation: ask for specific permissions for a specific number of minutes with a reason, someone else approves, the elevation lapses on its own. Grants are unioned into the requester's permissions at resolution time, so they reach every surface at once — and are deliberately excluded from API keys, which are not people."
    },
    {
      "name": "Session recordings",
      "description": "Replayable asciicasts of SSH sessions opened through the cloud. Cloud SSH is already proxied server-side, so recording tees a stream the server holds rather than needing an agent on the host; casts download in asciinema's own format. Opt-in per organization, retained on a per-organization window."
    },
    {
      "name": "Shared consoles",
      "description": "Pair-on-prod: fan a live cloud SSH session out to invited colleagues, with exactly one of them holding the keyboard. The invite link is a locator, never a capability — joining needs live org membership and the same `resources:execute` a direct terminal to that resource needs, re-derived on join, on attach and on a sweep while attached. Every join, leave, role change, handover and revocation is audit-logged, and participants are attributed in the session recording's metadata and on its timeline."
    },
    {
      "name": "Synthetic probes",
      "description": "HTTP uptime/latency checks run on an interval from an edge proxy outside the cluster; results land in the shared metric store and alert after N consecutive failures."
    },
    {
      "name": "Quota radar",
      "description": "How close each account is to the limits its provider enforces, with the trend fitted over recent readings. Both halves of every row come from the provider — nothing is filled in from published defaults, because an account with an approved increase would otherwise read as exhausted while it has headroom. A provider with no quota API contributes nothing rather than zero."
    },
    {
      "name": "Incidents",
      "description": "Incidents the organization declares itself — not to be confused with the provider status incidents under Resources, which are somebody else's outage. Declaring records the incident and, optionally, opens a change freeze, pins the moment, announces through the org's alert routing rules and posts a public status-page update; each side effect is recorded as an artefact whose failure is stored rather than thrown, so nothing an integration does can lose the declaration. The timeline is assembled on read by joining feeds that already exist, and the postmortem export pre-fills everything except the judgement."
    },
    {
      "name": "Wallboard",
      "description": "One screen, read from across the room. Every other page here is designed for somebody sitting at it — dense tables, hover states, filters — and none of that survives being put on a television four metres away, which is where a team actually wants \"is anything wrong\". So this is a different reading of the same data, built on one rule: a wallboard may only show things that are true right now and that somebody would cross a room to look at. No history, no trends, no breakdowns. A source that fails is named on the screen and turns the wall amber, because a wall showing green because a query threw is worse than a blank one."
    },
    {
      "name": "Operations calendar",
      "description": "One time axis over six things the organization already stores — change freezes, sleep/wake schedules, declared deadlines, commitment term ends, cron-triggered workflow runs and declared incidents. Nothing on it is a new record: the calendar is a projection recomputed on every read, and each source is guarded independently so one that fails costs its own kind rather than the page. Subscriptions mint an unauthenticated iCalendar URL whose 32-byte token is the sole credential; it carries scheduling facts only, and no organization id."
    },
    {
      "name": "Runbooks",
      "description": "The checklist somebody wrote at 03:00, made runnable — an ordered set of steps, each either a manual tick, a link, or a button that records which workflow run was started. Performing one snapshots every step's title into the run, so the record of what somebody was asked to do survives the runbook being rewritten next week; two responders can tick different steps at the same moment without losing each other's work; and closing a run never settles its outstanding steps, because a checklist that ended early is exactly what a postmortem needs to know. Reading and performing take `resources:read` — a checklist nobody on call can open is worse than no checklist — while editing takes `org:settings:write`."
    },
    {
      "name": "On-call",
      "description": "Who to wake, rather than which channel to shout into. A rotation is a list of people, a shift length and a handover time in a named zone; a routing rule's `on-call` destination resolves to one person at delivery time, so a rule reading \"database alerts → whoever is on call\" needs no edit at handover. Shift boundaries are calendar-day arithmetic in the rotation's own zone — a rotation stepped in fixed milliseconds drifts an hour at each daylight-saving change. Covers beat the rotation for exactly their window and are audit-logged, which is what lets any member arrange one at 17:55 on a Friday without an admin."
    },
    {
      "name": "Query monitors",
      "description": "A SQL query on a schedule, with a threshold and an alert. Metric alerts watch what the provider reports — CPU, connections, queue depth. Nothing watched what the data itself says, which is where a whole class of incidents lives: the orders table stopped growing, the dead-letter queue has 4,000 rows in it, yesterday's ETL wrote nought. A monitor may only run a single read-only statement, enforced by an allowlist of leading keywords on every execution rather than only on save; a failed run is `unknown` rather than `ok`, because it has told you nothing about the data; and the alert fires on the run that reaches the consecutive-breach threshold and not on every run past it."
    },
    {
      "name": "Status pages",
      "description": "Public, unauthenticated views of a chosen set of synthetic probes. A page is created unpublished and reachable only via an unguessable slug; the public payload carries labels, states and uptime history — never probe URLs, resource ids or account names."
    },
    {
      "name": "Ownership",
      "description": "Owner, purpose and authorizing ticket on any resource. The orphan finder annotates every flagged resource with its owner and counts the unowned ones; resource-scoped alerts are additionally delivered to the owning person."
    },
    {
      "name": "Log workspaces",
      "description": "Saved multi-resource log tails: a named set of log streams plus a search expression, optionally alert-evaluated server-side."
    },
    {
      "name": "Connect",
      "description": "Helpers for shipping credentials into other services."
    },
    {
      "name": "Storage",
      "description": "Object storage helpers (uploads via API key)."
    },
    {
      "name": "SFTP",
      "description": "SFTP helpers (uploads via API key)."
    },
    {
      "name": "SSH keys",
      "description": "Org SSH keys for tunnel/SSH access."
    },
    {
      "name": "Linux applications",
      "description": "Whether a Linux host can run graphical applications, and installing what it cannot. The application session itself is a WebSocket and is not described here."
    },
    {
      "name": "SSH tunnels",
      "description": "Server-side SSH tunnel lifecycle."
    },
    {
      "name": "SSH fan-out",
      "description": "Run one command across many SSH hosts, with saved snippets."
    },
    {
      "name": "Bastions",
      "description": "Per-account egress agents — register a bastion, run the agent container on your infra, and bind accounts to it so cloud control-plane traffic exits from your IP."
    },
    {
      "name": "Agents",
      "description": "Agent VM defaults, sessions, and reconciliation helpers."
    },
    {
      "name": "Team",
      "description": "Members and invitations."
    },
    {
      "name": "Billing",
      "description": "Stripe checkout and portal."
    },
    {
      "name": "Audit",
      "description": "Audit log access."
    },
    {
      "name": "Change Freezes",
      "description": "Org-level change freeze windows. While one is in effect, destructive actions are blocked (423) unless explicitly overridden by an admin."
    },
    {
      "name": "Currency",
      "description": "Opt-in conversion of mixed-currency spend into one display currency, at exchange rates the organization states itself with an effective date. Nothing is converted until a display currency is set, no live FX is ever fetched, and a currency with no configured rate is reported unconverted rather than dropped from the total."
    },
    {
      "name": "API keys",
      "description": "Programmatic access tokens."
    },
    {
      "name": "Agent auth",
      "description": "Anonymous agent registration, the 24-hour trial workspace it opens, and the claim ceremony that binds it to a person. See /auth.md for the agent-facing guide."
    },
    {
      "name": "WebSocket",
      "description": "Auth tokens for the WebSocket gateway."
    },
    {
      "name": "Sync",
      "description": "Bi-directional resource sync (used by the desktop app)."
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhooks from third parties."
    },
    {
      "name": "Admin",
      "description": "Platform-operator surface (INFRAWRENCH_PLATFORM_ADMIN_EMAILS allowlist), e.g. complimentary orgs."
    },
    {
      "name": "Pages",
      "description": "On-call alerts raised by your own systems, fanned out over the org's SMS, push, Slack, and Teams transports."
    },
    {
      "name": "Push",
      "description": "Mobile push notification devices and preferences."
    },
    {
      "name": "Alerts",
      "description": "Ordered alert routing rules — which alerts reach which destinations, with quiet hours and escalation — plus the held and awaiting-acknowledgement delivery queue."
    },
    {
      "name": "Slack",
      "description": "Slack workspace connection and the channels alert rules can name as destinations."
    },
    {
      "name": "Microsoft Teams",
      "description": "Microsoft Teams webhook connections and the channels alert rules can name as destinations."
    },
    {
      "name": "Jira",
      "description": "Jira Cloud connection, project and issue-type pickers, and filing a finding (cost anomaly, orphan, oversized resource, posture finding, expiring credential, failed probe) as a tracked issue."
    },
    {
      "name": "Linear",
      "description": "Linear workspace connection, team picker, and filing a finding (cost anomaly, orphan, oversized resource, posture finding, expiring credential, failed probe) as a tracked issue."
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "wos-session",
        "description": "WorkOS-issued sealed session cookie (httpOnly, set by `/callback`). Used by browser clients."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "WorkOS access token (JWT) or Infrawrench API key. Used by programmatic clients."
      }
    },
    "schemas": {
      "Session": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "needsOnboarding": {
            "type": "boolean"
          }
        },
        "required": [
          "userId",
          "email",
          "needsOnboarding"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "OrganizationRole": {
        "type": "string",
        "enum": [
          "owner",
          "admin",
          "member"
        ]
      },
      "OrgMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          }
        },
        "required": [
          "id",
          "displayName",
          "role"
        ],
        "additionalProperties": false
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "profilePictureUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSignInAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "identities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string",
                  "description": "WorkOS OAuth provider id",
                  "example": "GoogleOAuth"
                }
              },
              "required": [
                "provider"
              ],
              "additionalProperties": false
            },
            "description": "Connected OAuth accounts, if any"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt",
          "identities"
        ],
        "additionalProperties": false
      },
      "ProfileSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "profilePictureUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSignInAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "OrganizationRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "OwnershipBlocker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "memberCount": {
            "type": "integer",
            "description": "People in the organization"
          }
        },
        "required": [
          "id",
          "name",
          "memberCount"
        ],
        "additionalProperties": false
      },
      "AccountDeletionPreview": {
        "type": "object",
        "properties": {
          "organizationsToDelete": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationRef"
            },
            "description": "Deleted with the account — the caller is their only member."
          },
          "organizationsToLeave": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationRef"
            },
            "description": "Survive; the caller's membership is removed."
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OwnershipBlocker"
            },
            "description": "Non-empty means DELETE /api/profile will refuse until another owner is promoted."
          }
        },
        "required": [
          "organizationsToDelete",
          "organizationsToLeave",
          "blockers"
        ],
        "additionalProperties": false
      },
      "AccountDeleted": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "organizationsDeleted": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "organizationsDeleted"
        ],
        "additionalProperties": false
      },
      "ReauthenticationRequired": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "enum": [
              "reauthentication_required"
            ]
          }
        },
        "required": [
          "error",
          "code"
        ],
        "additionalProperties": false
      },
      "OwnershipTransferRequired": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "transfer_ownership_required"
            ]
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OwnershipBlocker"
            }
          }
        },
        "required": [
          "error",
          "code",
          "organizations"
        ],
        "additionalProperties": false
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "AuthFactor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "totp",
              "sms",
              "generic_otp"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "totpIssuer": {
            "type": [
              "string",
              "null"
            ]
          },
          "totpUser": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "updatedAt",
          "totpIssuer",
          "totpUser"
        ],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "factorId": {
            "type": "string"
          },
          "challengeId": {
            "type": "string"
          },
          "qrCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data-URI image of the enrolment QR code"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base32 secret, for manual entry"
          },
          "uri": {
            "type": [
              "string",
              "null"
            ],
            "description": "`otpauth://` URI"
          }
        },
        "required": [
          "factorId",
          "challengeId",
          "qrCode",
          "secret",
          "uri"
        ],
        "additionalProperties": false
      },
      "UserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ipAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "userAgent": {
            "type": [
              "string",
              "null"
            ]
          },
          "authMethod": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "current": {
            "type": "boolean",
            "description": "True for the session making this request"
          }
        },
        "required": [
          "id",
          "ipAddress",
          "userAgent",
          "authMethod",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "current"
        ],
        "additionalProperties": false
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "displayName"
        ],
        "additionalProperties": false
      },
      "CreateOrgRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Acme Inc"
          }
        },
        "required": [
          "displayName"
        ],
        "additionalProperties": false
      },
      "InvitationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "acceptedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "role",
          "expiresAt",
          "acceptedAt",
          "organizationId",
          "organizationName"
        ],
        "additionalProperties": false
      },
      "AcceptInvitationResponse": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "displayName"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "organization"
        ],
        "additionalProperties": false
      },
      "AcceptInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "additionalProperties": false
      },
      "CredentialFieldRegion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "CredentialField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          },
          "sensitive": {
            "type": "boolean"
          },
          "multiline": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialFieldRegion"
            }
          },
          "helpLink": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "label"
        ],
        "additionalProperties": false
      },
      "PreflightPermission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Provider-native permission string, e.g. `ce:GetCostAndUsage`."
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "PreflightCapability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "costs"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "requiredPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightPermission"
            }
          },
          "essential": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "label",
          "requiredPermissions"
        ],
        "additionalProperties": false
      },
      "PreflightDeclaration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightCapability"
            }
          },
          "templateFormat": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "language": {
                "type": "string",
                "enum": [
                  "json",
                  "yaml",
                  "text"
                ]
              }
            },
            "required": [
              "label",
              "language"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "capabilities"
        ],
        "additionalProperties": false,
        "description": "Declared when the plugin supports credential preflight (per-capability permission checks). `null` for plugins without it."
      },
      "PluginSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "logoSvg": {
            "type": "string"
          },
          "credentialFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialField"
            }
          },
          "preflight": {
            "$ref": "#/components/schemas/PreflightDeclaration"
          }
        },
        "required": [
          "id",
          "displayName",
          "logoSvg",
          "credentialFields",
          "preflight"
        ],
        "additionalProperties": false
      },
      "PolicyTemplate": {
        "type": "object",
        "properties": {
          "formatLabel": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "json",
              "yaml",
              "text"
            ]
          },
          "document": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "helpLink": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "formatLabel",
          "language",
          "document"
        ],
        "additionalProperties": false
      },
      "PolicyTemplateResponse": {
        "type": "object",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/PolicyTemplate"
          }
        },
        "required": [
          "template"
        ],
        "additionalProperties": false
      },
      "PluginId": {
        "type": "string",
        "enum": [
          "anthropic",
          "assemblyai",
          "aws",
          "azure",
          "cartesia",
          "clickhouse",
          "cloudflare",
          "cloudinary",
          "cohere",
          "databricks",
          "deepgram",
          "deepseek",
          "digitalocean",
          "docker",
          "elevenlabs",
          "fireworks",
          "fly",
          "gcp",
          "gemini",
          "gladia",
          "groq",
          "hetzner",
          "kafka",
          "kubernetes",
          "memcached",
          "mistral",
          "mongodb",
          "mssql",
          "mysql",
          "neon",
          "netlify",
          "openai",
          "openrouter",
          "opensearch",
          "ovh",
          "planetscale",
          "postgres",
          "redis",
          "replicate",
          "revai",
          "scaleway",
          "speechmatics",
          "ssh",
          "together",
          "turso",
          "uploadthing",
          "vercel",
          "workos",
          "xai"
        ],
        "description": "Manifest id of an installed plugin.",
        "example": "anthropic"
      },
      "PreflightCheck": {
        "type": "object",
        "properties": {
          "capabilityId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "missing",
              "unknown"
            ]
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightPermission"
            }
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "helpLink": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "capabilityId",
          "status",
          "missingPermissions",
          "message",
          "helpLink"
        ],
        "additionalProperties": false
      },
      "PreflightReport": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "supported": {
            "type": "boolean"
          },
          "identity": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provider-side identity the credential resolved to (ARN, service account…)."
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreflightCheck"
            }
          }
        },
        "required": [
          "pluginId",
          "supported",
          "identity",
          "checks"
        ],
        "additionalProperties": false
      },
      "PreflightRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Probe through this bastion, matching how the account will egress once created.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "pluginId",
          "credentials"
        ],
        "additionalProperties": false
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Bastion this account's cloud-API egress is routed through. `null` ⇒ direct egress.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "pluginId",
          "displayName",
          "bastionId",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CreateAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "syncError": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": [
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional bastion id to route this account's cloud API traffic through.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "pluginId",
          "displayName",
          "credentials"
        ],
        "additionalProperties": false
      },
      "UpdatedAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "id",
          "displayName",
          "bastionId"
        ],
        "additionalProperties": false
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "bastionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Pass `null` to unbind, a uuid to bind, or omit the field to leave the binding unchanged.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "ResourceId": {
        "type": "string",
        "minLength": 1,
        "pattern": "^[^:]+:[^:]+:.+$",
        "description": "Composite id `pluginId:accountId:externalId`.",
        "example": "gcp:00000000-0000-0000-0000-000000000000:projects/p/instances/i"
      },
      "JsonObject": {
        "type": "object",
        "description": "Free-form JSON object whose shape depends on the plugin.",
        "additionalProperties": true
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ]
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "parentResourceId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceId"
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "displayName",
          "externalId",
          "fieldsJson",
          "outputsJson",
          "parentResourceId"
        ],
        "additionalProperties": false
      },
      "TerraformExport": {
        "type": "object",
        "properties": {
          "hcl": {
            "type": "string"
          },
          "exported": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/ResourceId"
                },
                "displayName": {
                  "type": "string"
                },
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "importId": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "displayName",
                "pluginId",
                "resourceTypeId",
                "address"
              ],
              "additionalProperties": false
            }
          },
          "unsupported": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/ResourceId"
                },
                "displayName": {
                  "type": "string"
                },
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "displayName",
                "pluginId",
                "resourceTypeId",
                "reason"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "hcl",
          "exported",
          "unsupported"
        ],
        "additionalProperties": false
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "synced": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "synced"
        ],
        "additionalProperties": false
      },
      "ResourceTypeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "pluralDisplayName": {
            "type": "string"
          },
          "parentTypeId": {
            "type": "string"
          },
          "supportsCreate": {
            "type": "boolean"
          },
          "attachTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "matchField": {
                  "type": "string"
                },
                "verb": {
                  "type": "string"
                }
              },
              "required": [
                "pluginId",
                "resourceTypeId"
              ],
              "additionalProperties": false
            }
          },
          "isSshHost": {
            "type": "boolean"
          },
          "sshTunnelAttachSource": {
            "type": "boolean"
          },
          "showInSidebar": {
            "type": "boolean"
          },
          "accountRoot": {
            "type": "boolean"
          },
          "schedulable": {
            "type": "boolean",
            "description": "The type declares lifecycle start/stop actions, so its resources can carry a sleep/wake schedule."
          }
        },
        "required": [
          "id",
          "displayName",
          "supportsCreate"
        ],
        "additionalProperties": false
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "pluginId": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "pluginId",
              "displayName"
            ],
            "additionalProperties": false
          },
          "resourceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceTypeSummary"
            }
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "pluginLogoSvg": {
            "type": "string"
          }
        },
        "required": [
          "account",
          "resourceTypes",
          "pluginDisplayName",
          "pluginLogoSvg"
        ],
        "additionalProperties": false
      },
      "SyncedResource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ]
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "parentResourceId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceId"
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "displayName",
          "externalId",
          "fieldsJson",
          "outputsJson",
          "parentResourceId"
        ],
        "additionalProperties": false
      },
      "ResourceTypeId": {
        "type": "string",
        "enum": [
          "access-application",
          "access-policy",
          "account",
          "acm-certificate",
          "agent-api-key",
          "ai-gateway",
          "ai-search",
          "alb",
          "alert-policy",
          "alloydb-cluster",
          "alloydb-instance",
          "api-gateway",
          "api-key",
          "app",
          "app-engine-service",
          "apprunner-service",
          "artifact-registry-repo",
          "audit-event",
          "auto-scaling-group",
          "azure-aks-cluster",
          "azure-app-gateway",
          "azure-app-registration",
          "azure-app-service",
          "azure-app-service-plan",
          "azure-container-instance",
          "azure-container-registry",
          "azure-cosmos-db",
          "azure-disk",
          "azure-dns-zone",
          "azure-event-hub",
          "azure-firewall",
          "azure-function-app",
          "azure-key-vault",
          "azure-load-balancer",
          "azure-log-analytics",
          "azure-managed-identity",
          "azure-mysql-flexible",
          "azure-nat-gateway",
          "azure-nsg",
          "azure-postgres-flexible",
          "azure-private-dns-zone",
          "azure-public-ip",
          "azure-redis-cache",
          "azure-resource-group",
          "azure-route-table",
          "azure-service-bus",
          "azure-sql-database",
          "azure-storage-account",
          "azure-subnet",
          "azure-vm",
          "azure-vnet",
          "backend-service",
          "backup-vault",
          "balance",
          "batch",
          "batch-inference-job",
          "batch-job-queue",
          "bedrock-model",
          "bigquery-dataset",
          "bigquery-table",
          "bigtable-instance",
          "block-volume",
          "cache-rule",
          "cached-content",
          "certificate",
          "ch-database",
          "ch-service",
          "cloud-armor-policy",
          "cloud-build-trigger",
          "cloud-deploy-pipeline",
          "cloud-dns-record-set",
          "cloud-dns-zone",
          "cloud-function",
          "cloud-nat",
          "cloud-router",
          "cloud-run-service",
          "cloud-scheduler-job",
          "cloud-tasks-queue",
          "cloudformation-stack",
          "cloudfront-distribution",
          "cloudsql-instance",
          "cloudtrail-trail",
          "cloudwatch-alarm",
          "cloudwatch-log-group",
          "codebuild-project",
          "codepipeline-pipeline",
          "cognito-user-pool",
          "collection",
          "composer-environment",
          "connection",
          "container",
          "container-registry",
          "custom-hostname",
          "custom-voice",
          "d1-database",
          "databricks-app",
          "databricks-catalog",
          "databricks-cluster",
          "databricks-cluster-policy",
          "databricks-dashboard",
          "databricks-function",
          "databricks-job",
          "databricks-model-version",
          "databricks-node-type",
          "databricks-pipeline",
          "databricks-registered-model",
          "databricks-repo",
          "databricks-schema",
          "databricks-secret-scope",
          "databricks-serving-endpoint",
          "databricks-sql-query",
          "databricks-sql-warehouse",
          "databricks-table",
          "databricks-vector-search-endpoint",
          "databricks-vector-search-index",
          "databricks-volume",
          "databricks-workspace-object",
          "dataflow-job",
          "dataset",
          "db-subnet-group",
          "db-user",
          "dedicated-inference",
          "deployed-model",
          "deployment",
          "directory",
          "directory-group",
          "directory-user",
          "dns-record",
          "docker-container",
          "docker-image",
          "docker-network",
          "docker-volume",
          "documentdb-cluster",
          "doks-cluster",
          "domain",
          "droplet",
          "durable-object-namespace",
          "dynamodb-table",
          "ebs-volume",
          "ec2-instance",
          "ecr-repository",
          "ecs-service",
          "efs-file-system",
          "eks-cluster",
          "elastic-ip",
          "elasticache-cluster",
          "email-routing-rule",
          "embed-job",
          "endpoint",
          "eval",
          "evaluation",
          "eventbridge-rule",
          "file",
          "file-search-document",
          "file-search-store",
          "fine-tune",
          "fine-tuning-job",
          "finetuned-model",
          "firestore-database",
          "firewall",
          "firewall-rule",
          "floating-ip",
          "folder",
          "forwarding-rule",
          "gateway",
          "gce-disk",
          "gce-instance",
          "gcp-project",
          "gcp-service-account",
          "gcs-bucket",
          "gen-ai-agent",
          "gen-ai-knowledge-base",
          "gen-ai-model-router",
          "gke-cluster",
          "glue-database",
          "groq-batch",
          "groq-file",
          "groq-fine-tuning",
          "groq-model",
          "hardware",
          "health-check",
          "healthcheck",
          "history-item",
          "hyperdrive",
          "iam-role",
          "iam-user",
          "image",
          "inference-batch",
          "instance",
          "instance-group",
          "instance-template",
          "internet-gateway",
          "invitation",
          "invite",
          "ip-access-rule",
          "ip-allocation",
          "job",
          "k8s-cluster",
          "k8s-configmap",
          "k8s-cronjob",
          "k8s-daemonset",
          "k8s-deployment",
          "k8s-ingress",
          "k8s-job",
          "k8s-namespace",
          "k8s-node",
          "k8s-pod",
          "k8s-secret",
          "k8s-service",
          "k8s-statefulset",
          "kafka-cluster",
          "kafka-consumer-group",
          "kafka-topic",
          "kapsule-cluster",
          "kinesis-stream",
          "kms-key",
          "kms-key-ring",
          "kv-namespace",
          "lambda-function",
          "load-balancer",
          "log-sink",
          "logpush-job",
          "machine",
          "managed-database",
          "managed-db",
          "managed-endpoint",
          "managed-kube",
          "media-asset",
          "member",
          "memcached-instance",
          "memorystore-memcached",
          "memorystore-redis",
          "message-batch",
          "mistral-api-key",
          "mistral-batch-job",
          "mistral-file",
          "mistral-fine-tuning-job",
          "mistral-model",
          "mistral-voice",
          "model",
          "model-api-key",
          "model-endpoint",
          "mongodb-database",
          "mq-broker",
          "msk-cluster",
          "mssql-database",
          "mysql-database",
          "nat-gateway",
          "neon-ai-gateway",
          "neon-auth",
          "neon-auth-domain",
          "neon-auth-oauth-provider",
          "neon-branch",
          "neon-bucket",
          "neon-credential",
          "neon-data-api",
          "neon-database",
          "neon-endpoint",
          "neon-function",
          "neon-project",
          "neon-role",
          "neon-snapshot",
          "neptune-cluster",
          "netlify-build-hook",
          "netlify-deploy",
          "netlify-dns-record",
          "netlify-dns-zone",
          "netlify-env-var",
          "netlify-form",
          "netlify-site",
          "network",
          "nfs-share",
          "notification-policy",
          "object-storage-bucket",
          "opensearch-cluster",
          "opensearch-domain",
          "organization",
          "organization-membership",
          "organization-user",
          "page-rule",
          "pg-database",
          "pg-schema",
          "placement-group",
          "prediction",
          "primary-ip",
          "private-network",
          "project",
          "project-api-key",
          "pronunciation-dict",
          "pronunciation-dictionary",
          "provider",
          "ps-backup",
          "ps-branch",
          "ps-database",
          "ps-deploy-request",
          "ps-password",
          "pubsub-subscription",
          "pubsub-topic",
          "queue",
          "quota",
          "r2-bucket",
          "rate-limit-rule",
          "rdb-instance",
          "rds-cluster",
          "rds-instance",
          "redirect-rule",
          "redis-instance",
          "redshift-cluster",
          "reserved-ip",
          "role",
          "route-table",
          "route53-health-check",
          "route53-hosted-zone",
          "route53-record-set",
          "s3-bucket",
          "sagemaker-endpoint",
          "secret",
          "secret-manager-secret",
          "secrets-manager-secret",
          "security-group",
          "server",
          "snapshot",
          "sns-topic",
          "spaces-bucket",
          "spanner-backup",
          "spanner-database",
          "spanner-instance",
          "spectrum-application",
          "sqs-queue",
          "ssh-key",
          "ssh-target",
          "ssl-certificate",
          "ssm-parameter",
          "static-ip",
          "step-function",
          "subnet",
          "supervised-fine-tuning-job",
          "target-group",
          "training",
          "transcript",
          "transcription",
          "transformation",
          "tuned-model",
          "tunnel",
          "turnstile-widget",
          "turso-api-token",
          "turso-database",
          "turso-database-instance",
          "turso-group",
          "turso-location",
          "turso-organization-invite",
          "turso-organization-member",
          "upload-preset",
          "user",
          "ut-app",
          "ut-file",
          "vector-store",
          "vectorize-index",
          "vercel-deployment",
          "vercel-domain",
          "vercel-env-var",
          "vercel-project",
          "vercel-team",
          "vertex-ai-endpoint",
          "vertex-gemini-model",
          "vocabulary",
          "voice",
          "volume",
          "vpc",
          "vpc-network",
          "waf-web-acl",
          "waiting-room",
          "webhook-endpoint",
          "worker",
          "worker-route",
          "workers-ai-model",
          "workflow",
          "workspace",
          "zone"
        ],
        "description": "Resource type id. Note: not every plugin exposes every type — see the plugin's `resourceTypes` for the valid (pluginId, typeId) pairs.",
        "example": "access-application"
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "isDefault"
        ],
        "additionalProperties": false
      },
      "DashboardFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "syncVersion": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "isDefault",
          "createdAt",
          "updatedAt",
          "deletedAt",
          "syncVersion"
        ],
        "additionalProperties": false
      },
      "DashboardPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": [
          "pinId",
          "resourceId",
          "gridX",
          "gridY",
          "gridW",
          "gridH"
        ],
        "additionalProperties": false
      },
      "DashboardWorkflowPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "gridX": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lastRunAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastStatus": {
            "type": [
              "string",
              "null"
            ]
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "unit": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value": {}
              },
              "required": [
                "key",
                "label",
                "unit"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "pinId",
          "workflowId",
          "gridX",
          "name",
          "lastRunAt",
          "lastStatus",
          "metrics"
        ],
        "additionalProperties": false
      },
      "DashboardWidgetKind": {
        "type": "string",
        "enum": [
          "cost_graph",
          "cost_report",
          "budget",
          "custom_graph"
        ],
        "description": "`cost_graph` stores its whole config inline — a one-off card. `cost_report` points at a saved cost report by id, so editing the report updates every dashboard showing it."
      },
      "DashboardWidget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH"
        ],
        "additionalProperties": false
      },
      "DashboardWithPins": {
        "type": "object",
        "properties": {
          "dashboard": {
            "$ref": "#/components/schemas/DashboardFull"
          },
          "pins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardPin"
            }
          },
          "workflowPins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWorkflowPin"
            }
          },
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWidget"
            }
          }
        },
        "required": [
          "dashboard",
          "pins",
          "workflowPins",
          "widgets"
        ],
        "additionalProperties": false
      },
      "DashboardWidgetFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "syncVersion": {
            "type": "integer"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "syncVersion",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "CreateWidgetRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          }
        },
        "required": [
          "dashboardId",
          "kind",
          "config"
        ],
        "additionalProperties": false
      },
      "UpdateWidgetRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer",
            "minimum": 0
          },
          "gridY": {
            "type": "integer",
            "minimum": 0
          },
          "gridW": {
            "type": "integer",
            "minimum": 0
          },
          "gridH": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "PinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          }
        },
        "required": [
          "dashboardId",
          "resourceId"
        ],
        "additionalProperties": false
      },
      "ReorderRequest": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "resource",
                    "workflow",
                    "widget"
                  ]
                },
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "kind",
                "id"
              ],
              "additionalProperties": false
            }
          },
          "resourceIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        },
        "additionalProperties": false
      },
      "UnpinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": [
          "dashboardId",
          "resourceId"
        ],
        "additionalProperties": false
      },
      "WorkflowPinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "dashboardId",
          "workflowId"
        ],
        "additionalProperties": false
      },
      "ValidateTabsResponse": {
        "type": "object",
        "properties": {
          "validTabIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "validTabIds"
        ],
        "additionalProperties": false
      },
      "TabTarget": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "dashboard",
              "account",
              "resource",
              "agents",
              "costs",
              "savings",
              "cost-reports",
              "invoices",
              "graph",
              "logs",
              "changes",
              "expiring",
              "posture",
              "access-review",
              "backups",
              "wallboard",
              "calendar",
              "runbooks",
              "query-monitors",
              "dns",
              "iac",
              "environment-diff",
              "environments",
              "ssh-fanout",
              "metric-alerts",
              "probes",
              "status-pages",
              "quotas",
              "incidents",
              "workflows",
              "deployments",
              "settings",
              "chat",
              "linux-app"
            ]
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "reportId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "invoiceId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "sessionId": {
            "type": "string",
            "maxLength": 128
          },
          "windowId": {
            "type": "integer",
            "minimum": 0
          },
          "appId": {
            "type": "string",
            "maxLength": 256
          }
        },
        "required": [
          "kind"
        ],
        "additionalProperties": false
      },
      "ValidateTabsRequest": {
        "type": "object",
        "properties": {
          "tabs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "target": {
                  "$ref": "#/components/schemas/TabTarget"
                }
              },
              "required": [
                "id",
                "target"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "tabs"
        ],
        "additionalProperties": false
      },
      "ProbeStatus": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "error": {
            "type": "string"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonObject"
            }
          },
          "sparkline": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "number",
                  "description": "Unix epoch milliseconds."
                },
                "value": {
                  "type": "number"
                }
              },
              "required": [
                "timestamp",
                "value"
              ],
              "additionalProperties": false
            }
          },
          "sparklineLabel": {
            "type": "string"
          },
          "resourceCounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "typeLabel": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "typeLabel",
                "count"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "phase"
        ],
        "additionalProperties": false
      },
      "PinFull": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "pluginLogoSvg": {
            "type": "string"
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ProbeStatus"
          }
        },
        "required": [
          "pinId",
          "resourceId",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "displayName",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "fieldsJson",
          "outputsJson",
          "pluginLogoSvg",
          "pluginDisplayName",
          "status"
        ],
        "additionalProperties": false
      },
      "PinRangeMetricSeries": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "number"
                },
                "value": {
                  "type": "number"
                }
              },
              "required": [
                "timestamp",
                "value"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "label",
          "points"
        ],
        "additionalProperties": false
      },
      "PinRangeResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PinRangeMetricSeries"
            }
          }
        },
        "required": [
          "series"
        ],
        "additionalProperties": false
      },
      "ProbeRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resourceId": {
                  "$ref": "#/components/schemas/ResourceId"
                },
                "accountId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                }
              },
              "required": [
                "resourceId",
                "accountId",
                "pluginId",
                "resourceTypeId"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      },
      "CostPushResponse": {
        "type": "object",
        "properties": {
          "written": {
            "type": "integer"
          }
        },
        "required": [
          "written"
        ],
        "additionalProperties": false
      },
      "PushedCostRow": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "UTC day the spend belongs to.",
            "example": "2026-07-01"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "USD"
          },
          "amount": {
            "type": "number",
            "description": "Money for this day/dimension combination. Negative for credits."
          },
          "service": {
            "type": "string",
            "maxLength": 256,
            "description": "Becomes a group/filter value.",
            "example": "Snowflake Compute"
          },
          "region": {
            "type": "string",
            "maxLength": 256
          },
          "resourceId": {
            "type": "string",
            "maxLength": 256,
            "description": "Opaque id of the thing being billed; groups the `resource` dimension."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cost-allocation tags, at most 32. Keys starting with `infrawrench:` are reserved and rejected."
          },
          "usageAmount": {
            "type": "number"
          },
          "usageUnit": {
            "type": "string",
            "maxLength": 256
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Attribute this row to a connected account. Must belong to the calling organization. Omit to attribute it to the source itself.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": [
          "date",
          "currency",
          "amount"
        ],
        "additionalProperties": false
      },
      "CostPushRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "maxLength": 64,
            "description": "Stable slug naming the system that owns these rows: letters, digits, `.`, `_` and `-`. It groups the rows under an `External` provider and an `external:<source>` account, and re-pushing the same source over the same days restates only its own rows.",
            "example": "snowflake-invoices"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushedCostRow"
            },
            "maxItems": 5000
          }
        },
        "required": [
          "source",
          "rows"
        ],
        "additionalProperties": false
      },
      "CostSeriesPoint": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "amount": {
            "type": "number"
          }
        },
        "required": [
          "bucket",
          "amount"
        ],
        "additionalProperties": false
      },
      "CostQuerySeries": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            }
          }
        },
        "required": [
          "key",
          "label",
          "currency",
          "points"
        ],
        "additionalProperties": false
      },
      "CostScenarioResult": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "modelName": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            },
            "description": "The adjusted projection — exactly the same days as `forecast`, never one more or fewer. A scenario modifies the projected region; it does not extend it, and it can never touch a day that already has recorded spend behind it."
          },
          "contributions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adjustmentId": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "one_off",
                    "recurring",
                    "rate_change"
                  ]
                },
                "amount": {
                  "type": "number"
                }
              },
              "required": [
                "adjustmentId",
                "label",
                "kind",
                "amount"
              ],
              "additionalProperties": false
            },
            "description": "Signed total each adjustment added across the horizon, in model order."
          },
          "totalDelta": {
            "type": "number",
            "description": "Signed difference from the baseline across the horizon."
          },
          "convertedFrom": {
            "type": "string",
            "description": "Set when the model's amounts were converted at the org's stated rates."
          },
          "outOfScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Adjustments this chart's own filters exclude, by label — a GCP commitment on an AWS-filtered chart is correctly left out, and saying so is what makes the number trustworthy rather than quietly assumed broken."
          }
        },
        "required": [
          "modelId",
          "modelName",
          "currency",
          "points",
          "contributions",
          "totalDelta",
          "outOfScope"
        ],
        "additionalProperties": false
      },
      "CostAdjustmentSummary": {
        "type": "object",
        "properties": {
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "name": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "percentage",
                    "fixed",
                    "reallocation"
                  ]
                },
                "summary": {
                  "type": "string",
                  "example": "+15% on tag team=platform"
                }
              },
              "required": [
                "id",
                "name",
                "kind",
                "summary"
              ],
              "additionalProperties": false
            },
            "description": "The enabled rules in force for this answer, in evaluation order."
          },
          "rawTotals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "The collected, unadjusted totals for exactly the same rows, summed in the same scan. Always present on an adjusted answer — this is the figure that reconciles against an invoice. Per-series raw figures are deliberately not offered: after a reallocation the series are a different partition of the same money."
          },
          "fixedTotals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Fixed-amount charges over the period, pro-rated. On a cost query these are reported here and **not** folded into `totals`, which stays the sum of the series; the figure an organisation reports internally is the adjusted total plus this. On a showback report they are additionally booked onto the cost centre the rule names."
          }
        },
        "required": [
          "rules",
          "rawTotals",
          "fixedTotals"
        ],
        "additionalProperties": false,
        "description": "What an adjusted answer did. Present whenever the request asked to be adjusted, even for an organisation with no rules — its absence means, and can only mean, that every figure in the response is exactly what the providers charged."
      },
      "CostQueryResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "comparison": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "forecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            },
            "description": "The **unadjusted trend** projection. Stays the trend even when a scenario is applied, so a reader can always see what the fit said before anybody's assumptions touched it."
          },
          "scenario": {
            "$ref": "#/components/schemas/CostScenarioResult"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totals": {
            "type": "object",
            "additionalProperties": {
[...]
