{
  "openapi": "3.1.0",
  "info": {
    "title": "Infrawrench API",
    "version": "0.6.0",
    "description": "REST API for the Infrawrench cloud SaaS. Plugin and resource type IDs are enumerated from the live plugin registry at spec-build time, so this document always matches what the running server actually accepts.",
    "license": {
      "name": "BUSL-1.1",
      "url": "https://mariadb.com/bsl11/"
    }
  },
  "servers": [
    {
      "url": "https://app.infrawrench.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "security": [
    {
      "sessionCookie": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Session and identity."
    },
    {
      "name": "Profile",
      "description": "The signed-in user's own account: name, password reset, two-factor factors, and active sessions."
    },
    {
      "name": "Organizations",
      "description": "Org creation and membership."
    },
    {
      "name": "Invitations",
      "description": "Accepting team invites."
    },
    {
      "name": "Accounts",
      "description": "Provider connections (cloud accounts)."
    },
    {
      "name": "Dashboards",
      "description": "Pinned resources, custom dashboards."
    },
    {
      "name": "Resources",
      "description": "CRUD, manifest, logs, secrets, metrics — all dispatched to plugins."
    },
    {
      "name": "Connections",
      "description": "SQL / KV / Docker / SFTP / Storage operations against live resources."
    },
    {
      "name": "Associations",
      "description": "Output-reference wiring between resources."
    },
    {
      "name": "Search",
      "description": "Cross-account resource search."
    },
    {
      "name": "Connect",
      "description": "Helpers for shipping credentials into other services."
    },
    {
      "name": "Storage",
      "description": "Object storage helpers (uploads via API key)."
    },
    {
      "name": "SFTP",
      "description": "SFTP helpers (uploads via API key)."
    },
    {
      "name": "SSH keys",
      "description": "Org SSH keys for tunnel/SSH access."
    },
    {
      "name": "SSH tunnels",
      "description": "Server-side SSH tunnel lifecycle."
    },
    {
      "name": "Bastions",
      "description": "Per-account egress agents — register a bastion, run the agent container on your infra, and bind accounts to it so cloud control-plane traffic exits from your IP."
    },
    {
      "name": "Agents",
      "description": "Agent VM defaults, sessions, and reconciliation helpers."
    },
    {
      "name": "Team",
      "description": "Members and invitations."
    },
    {
      "name": "Billing",
      "description": "Stripe checkout and portal."
    },
    {
      "name": "Audit",
      "description": "Audit log access."
    },
    {
      "name": "API keys",
      "description": "Programmatic access tokens."
    },
    {
      "name": "WebSocket",
      "description": "Auth tokens for the WebSocket gateway."
    },
    {
      "name": "Sync",
      "description": "Bi-directional resource sync (used by the desktop app)."
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhooks from third parties."
    },
    {
      "name": "Admin",
      "description": "Platform-operator surface (INFRAWRENCH_PLATFORM_ADMIN_EMAILS allowlist), e.g. complimentary orgs."
    },
    {
      "name": "Pages",
      "description": "On-call alerts raised by your own systems, fanned out over the org's SMS, push, Slack, and Teams transports."
    },
    {
      "name": "Push",
      "description": "Mobile push notification devices and preferences."
    },
    {
      "name": "Slack",
      "description": "Slack workspace connection and per-channel alert routing."
    },
    {
      "name": "Microsoft Teams",
      "description": "Microsoft Teams webhook connections and per-channel alert routing."
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "wos-session",
        "description": "WorkOS-issued sealed session cookie (httpOnly, set by `/callback`). Used by browser clients."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "WorkOS access token (JWT) or Infrawrench API key. Used by programmatic clients."
      }
    },
    "schemas": {
      "Session": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": ["string", "null"],
            "format": "email"
          },
          "needsOnboarding": {
            "type": "boolean"
          }
        },
        "required": ["userId", "email", "needsOnboarding"],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": ["error"],
        "additionalProperties": false
      },
      "OrganizationRole": {
        "type": "string",
        "enum": ["owner", "admin", "member"]
      },
      "OrgMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          }
        },
        "required": ["id", "displayName", "role"],
        "additionalProperties": false
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": ["string", "null"]
          },
          "lastName": {
            "type": ["string", "null"]
          },
          "profilePictureUrl": {
            "type": ["string", "null"]
          },
          "lastSignInAt": {
            "type": ["string", "null"]
          },
          "createdAt": {
            "type": "string"
          },
          "identities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string",
                  "description": "WorkOS OAuth provider id",
                  "example": "GoogleOAuth"
                }
              },
              "required": ["provider"],
              "additionalProperties": false
            },
            "description": "Connected OAuth accounts, if any"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt",
          "identities"
        ],
        "additionalProperties": false
      },
      "ProfileSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "firstName": {
            "type": ["string", "null"]
          },
          "lastName": {
            "type": ["string", "null"]
          },
          "profilePictureUrl": {
            "type": ["string", "null"]
          },
          "lastSignInAt": {
            "type": ["string", "null"]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "emailVerified",
          "firstName",
          "lastName",
          "profilePictureUrl",
          "lastSignInAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "ReauthenticationRequired": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "enum": ["reauthentication_required"]
          }
        },
        "required": ["error", "code"],
        "additionalProperties": false
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          }
        },
        "required": ["ok"],
        "additionalProperties": false
      },
      "AuthFactor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["totp", "sms", "generic_otp"]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "totpIssuer": {
            "type": ["string", "null"]
          },
          "totpUser": {
            "type": ["string", "null"]
          }
        },
        "required": ["id", "type", "createdAt", "updatedAt", "totpIssuer", "totpUser"],
        "additionalProperties": false
      },
      "TotpEnrollment": {
        "type": "object",
        "properties": {
          "factorId": {
            "type": "string"
          },
          "challengeId": {
            "type": "string"
          },
          "qrCode": {
            "type": ["string", "null"],
            "description": "Data-URI image of the enrolment QR code"
          },
          "secret": {
            "type": ["string", "null"],
            "description": "Base32 secret, for manual entry"
          },
          "uri": {
            "type": ["string", "null"],
            "description": "`otpauth://` URI"
          }
        },
        "required": ["factorId", "challengeId", "qrCode", "secret", "uri"],
        "additionalProperties": false
      },
      "UserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ipAddress": {
            "type": ["string", "null"]
          },
          "userAgent": {
            "type": ["string", "null"]
          },
          "authMethod": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "current": {
            "type": "boolean",
            "description": "True for the session making this request"
          }
        },
        "required": [
          "id",
          "ipAddress",
          "userAgent",
          "authMethod",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "current"
        ],
        "additionalProperties": false
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          }
        },
        "required": ["id", "displayName"],
        "additionalProperties": false
      },
      "CreateOrgRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "example": "Acme Inc"
          }
        },
        "required": ["displayName"],
        "additionalProperties": false
      },
      "InvitationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "$ref": "#/components/schemas/OrganizationRole"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "acceptedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "role",
          "expiresAt",
          "acceptedAt",
          "organizationId",
          "organizationName"
        ],
        "additionalProperties": false
      },
      "AcceptInvitationResponse": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": ["id", "displayName"],
            "additionalProperties": false
          }
        },
        "required": ["organization"],
        "additionalProperties": false
      },
      "AcceptInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": ["token"],
        "additionalProperties": false
      },
      "CredentialFieldRegion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          }
        },
        "required": ["id", "label"],
        "additionalProperties": false
      },
      "CredentialField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          },
          "sensitive": {
            "type": "boolean"
          },
          "multiline": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialFieldRegion"
            }
          },
          "helpLink": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": ["label", "url"],
            "additionalProperties": false
          }
        },
        "required": ["key", "label"],
        "additionalProperties": false
      },
      "PluginSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "logoSvg": {
            "type": "string"
          },
          "credentialFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialField"
            }
          }
        },
        "required": ["id", "displayName", "logoSvg", "credentialFields"],
        "additionalProperties": false
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Bastion this account's cloud-API egress is routed through. `null` ⇒ direct egress.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "pluginId", "displayName", "bastionId", "createdAt"],
        "additionalProperties": false
      },
      "CreateAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "syncError": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"],
            "additionalProperties": false
          }
        },
        "required": ["id"],
        "additionalProperties": false
      },
      "PluginId": {
        "type": "string",
        "enum": [
          "aws",
          "azure",
          "clickhouse",
          "cloudflare",
          "cloudinary",
          "databricks",
          "digitalocean",
          "docker",
          "fly",
          "gcp",
          "hetzner",
          "kafka",
          "kubernetes",
          "memcached",
          "mongodb",
          "mssql",
          "mysql",
          "neon",
          "netlify",
          "opensearch",
          "ovh",
          "planetscale",
          "postgres",
          "redis",
          "scaleway",
          "ssh",
          "turso",
          "vercel"
        ],
        "description": "Manifest id of an installed plugin.",
        "example": "aws"
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bastionId": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Optional bastion id to route this account's cloud API traffic through.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": ["pluginId", "displayName", "credentials"],
        "additionalProperties": false
      },
      "UpdatedAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "bastionId": {
            "type": ["string", "null"],
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": ["id", "displayName", "bastionId"],
        "additionalProperties": false
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "bastionId": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Pass `null` to unbind, a uuid to bind, or omit the field to leave the binding unchanged.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "ResourceId": {
        "type": "string",
        "minLength": 1,
        "pattern": "^[^:]+:[^:]+:.+$",
        "description": "Composite id `pluginId:accountId:externalId`.",
        "example": "gcp:00000000-0000-0000-0000-000000000000:projects/p/instances/i"
      },
      "JsonObject": {
        "type": "object",
        "description": "Free-form JSON object whose shape depends on the plugin.",
        "additionalProperties": true
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "displayName": {
            "type": "string"
          },
          "externalId": {
            "type": ["string", "null"]
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "parentResourceId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceId"
              },
              {
                "type": ["string", "null"]
              }
            ]
          }
        },
        "required": [
          "id",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "displayName",
          "externalId",
          "fieldsJson",
          "outputsJson",
          "parentResourceId"
        ],
        "additionalProperties": false
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "synced": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["synced"],
        "additionalProperties": false
      },
      "ResourceTypeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "pluralDisplayName": {
            "type": "string"
          },
          "parentTypeId": {
            "type": "string"
          },
          "supportsCreate": {
            "type": "boolean"
          },
          "attachTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "matchField": {
                  "type": "string"
                },
                "verb": {
                  "type": "string"
                }
              },
              "required": ["pluginId", "resourceTypeId"],
              "additionalProperties": false
            }
          },
          "isSshHost": {
            "type": "boolean"
          },
          "sshTunnelAttachSource": {
            "type": "boolean"
          }
        },
        "required": ["id", "displayName", "supportsCreate"],
        "additionalProperties": false
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "pluginId": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            },
            "required": ["id", "pluginId", "displayName"],
            "additionalProperties": false
          },
          "resourceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceTypeSummary"
            }
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "pluginLogoSvg": {
            "type": "string"
          }
        },
        "required": ["account", "resourceTypes", "pluginDisplayName", "pluginLogoSvg"],
        "additionalProperties": false
      },
      "ResourceTypeId": {
        "type": "string",
        "enum": [
          "access-application",
          "access-policy",
          "acm-certificate",
          "agent-api-key",
          "ai-gateway",
          "ai-search",
          "alb",
          "alert-policy",
          "alloydb-cluster",
          "alloydb-instance",
          "api-gateway",
          "app",
          "app-engine-service",
          "apprunner-service",
          "artifact-registry-repo",
          "auto-scaling-group",
          "azure-aks-cluster",
          "azure-app-gateway",
          "azure-app-registration",
          "azure-app-service",
          "azure-container-instance",
          "azure-container-registry",
          "azure-cosmos-db",
          "azure-disk",
          "azure-dns-zone",
          "azure-event-hub",
          "azure-firewall",
          "azure-function-app",
          "azure-key-vault",
          "azure-load-balancer",
          "azure-log-analytics",
          "azure-managed-identity",
          "azure-mysql-flexible",
          "azure-nat-gateway",
          "azure-nsg",
          "azure-postgres-flexible",
          "azure-private-dns-zone",
          "azure-public-ip",
          "azure-redis-cache",
          "azure-resource-group",
          "azure-route-table",
          "azure-service-bus",
          "azure-sql-database",
          "azure-storage-account",
          "azure-subnet",
          "azure-vm",
          "azure-vnet",
          "backend-service",
          "backup-vault",
          "batch-job-queue",
          "bedrock-model",
          "bigquery-dataset",
          "bigquery-table",
          "bigtable-instance",
          "block-volume",
          "cache-rule",
          "certificate",
          "ch-database",
          "ch-service",
          "cloud-armor-policy",
          "cloud-build-trigger",
          "cloud-deploy-pipeline",
          "cloud-dns-record-set",
          "cloud-dns-zone",
          "cloud-function",
          "cloud-nat",
          "cloud-router",
          "cloud-run-service",
          "cloud-scheduler-job",
          "cloud-tasks-queue",
          "cloudformation-stack",
          "cloudfront-distribution",
          "cloudsql-instance",
          "cloudtrail-trail",
          "cloudwatch-alarm",
          "cloudwatch-log-group",
          "codebuild-project",
          "codepipeline-pipeline",
          "cognito-user-pool",
          "composer-environment",
          "custom-hostname",
          "d1-database",
          "databricks-app",
          "databricks-catalog",
          "databricks-cluster",
          "databricks-cluster-policy",
          "databricks-dashboard",
          "databricks-function",
          "databricks-job",
          "databricks-model-version",
          "databricks-node-type",
          "databricks-pipeline",
          "databricks-registered-model",
          "databricks-repo",
          "databricks-schema",
          "databricks-secret-scope",
          "databricks-serving-endpoint",
          "databricks-sql-query",
          "databricks-sql-warehouse",
          "databricks-table",
          "databricks-vector-search-endpoint",
          "databricks-vector-search-index",
          "databricks-volume",
          "databricks-workspace-object",
          "dataflow-job",
          "db-user",
          "dedicated-inference",
          "dns-record",
          "docker-container",
          "docker-image",
          "docker-network",
          "docker-volume",
          "documentdb-cluster",
          "doks-cluster",
          "domain",
          "droplet",
          "durable-object-namespace",
          "dynamodb-table",
          "ebs-volume",
          "ec2-instance",
          "ecr-repository",
          "ecs-service",
          "efs-file-system",
          "eks-cluster",
          "elastic-ip",
          "elasticache-cluster",
          "email-routing-rule",
          "eventbridge-rule",
          "firestore-database",
          "firewall",
          "firewall-rule",
          "floating-ip",
          "folder",
          "forwarding-rule",
          "gateway",
          "gce-disk",
          "gce-instance",
          "gcp-service-account",
          "gcs-bucket",
          "gen-ai-agent",
          "gen-ai-knowledge-base",
          "gen-ai-model-router",
          "gke-cluster",
          "glue-database",
          "health-check",
          "healthcheck",
          "hyperdrive",
          "iam-role",
          "iam-user",
          "image",
          "inference-batch",
          "instance",
          "instance-group",
          "instance-template",
          "internet-gateway",
          "ip-access-rule",
          "ip-allocation",
          "k8s-cluster",
          "k8s-configmap",
          "k8s-cronjob",
          "k8s-daemonset",
          "k8s-deployment",
          "k8s-ingress",
          "k8s-job",
          "k8s-namespace",
          "k8s-pod",
          "k8s-secret",
          "k8s-service",
          "k8s-statefulset",
          "kafka-cluster",
          "kafka-consumer-group",
          "kafka-topic",
          "kapsule-cluster",
          "kinesis-stream",
          "kms-key",
          "kms-key-ring",
          "kv-namespace",
          "lambda-function",
          "load-balancer",
          "log-sink",
          "logpush-job",
          "machine",
          "managed-database",
          "managed-db",
          "managed-kube",
          "media-asset",
          "memcached-instance",
          "memorystore-memcached",
          "memorystore-redis",
          "model-api-key",
          "mongodb-database",
          "mq-broker",
          "msk-cluster",
          "mssql-database",
          "mysql-database",
          "nat-gateway",
          "neon-ai-gateway",
          "neon-auth",
          "neon-auth-domain",
          "neon-auth-oauth-provider",
          "neon-branch",
          "neon-bucket",
          "neon-credential",
          "neon-data-api",
          "neon-database",
          "neon-endpoint",
          "neon-function",
          "neon-project",
          "neon-role",
          "neon-snapshot",
          "neptune-cluster",
          "netlify-build-hook",
          "netlify-deploy",
          "netlify-dns-record",
          "netlify-dns-zone",
          "netlify-env-var",
          "netlify-form",
          "netlify-site",
          "network",
          "nfs-share",
          "notification-policy",
          "object-storage-bucket",
          "opensearch-cluster",
          "opensearch-domain",
          "page-rule",
          "pg-database",
          "pg-schema",
          "placement-group",
          "primary-ip",
          "private-network",
          "project",
          "ps-backup",
          "ps-branch",
          "ps-database",
          "ps-deploy-request",
          "ps-password",
          "pubsub-subscription",
          "pubsub-topic",
          "queue",
          "r2-bucket",
          "rate-limit-rule",
          "rdb-instance",
          "rds-cluster",
          "rds-instance",
          "redirect-rule",
          "redis-instance",
          "redshift-cluster",
          "route-table",
          "route53-health-check",
          "route53-hosted-zone",
          "route53-record-set",
          "s3-bucket",
          "sagemaker-endpoint",
          "secret-manager-secret",
          "secrets-manager-secret",
          "security-group",
          "server",
          "snapshot",
          "sns-topic",
          "spaces-bucket",
          "spanner-backup",
          "spanner-database",
          "spanner-instance",
          "spectrum-application",
          "sqs-queue",
          "ssh-key",
          "ssh-target",
          "ssl-certificate",
          "ssm-parameter",
          "static-ip",
          "step-function",
          "subnet",
          "target-group",
          "transformation",
          "tunnel",
          "turnstile-widget",
          "turso-api-token",
          "turso-database",
          "turso-database-instance",
          "turso-group",
          "turso-location",
          "turso-organization-invite",
          "turso-organization-member",
          "upload-preset",
          "vectorize-index",
          "vercel-deployment",
          "vercel-domain",
          "vercel-env-var",
          "vercel-project",
          "vercel-team",
          "vertex-ai-endpoint",
          "vertex-gemini-model",
          "volume",
          "vpc",
          "vpc-network",
          "waf-web-acl",
          "waiting-room",
          "worker",
          "worker-route",
          "workers-ai-model",
          "workflow",
          "zone"
        ],
        "description": "Resource type id. Note: not every plugin exposes every type — see the plugin's `resourceTypes` for the valid (pluginId, typeId) pairs.",
        "example": "access-application"
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": ["id", "name", "isDefault"],
        "additionalProperties": false
      },
      "DashboardFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "syncVersion": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "isDefault",
          "createdAt",
          "updatedAt",
          "deletedAt",
          "syncVersion"
        ],
        "additionalProperties": false
      },
      "DashboardPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": ["pinId", "resourceId", "gridX", "gridY", "gridW", "gridH"],
        "additionalProperties": false
      },
      "DashboardWorkflowPin": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "gridX": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lastRunAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "lastStatus": {
            "type": ["string", "null"]
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "unit": {
                  "type": ["string", "null"]
                },
                "value": {}
              },
              "required": ["key", "label", "unit"],
              "additionalProperties": false
            }
          }
        },
        "required": ["pinId", "workflowId", "gridX", "name", "lastRunAt", "lastStatus", "metrics"],
        "additionalProperties": false
      },
      "DashboardWidgetKind": {
        "type": "string",
        "enum": ["cost_graph", "budget"]
      },
      "DashboardWidget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH"
        ],
        "additionalProperties": false
      },
      "DashboardWithPins": {
        "type": "object",
        "properties": {
          "dashboard": {
            "$ref": "#/components/schemas/DashboardFull"
          },
          "pins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardPin"
            }
          },
          "workflowPins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWorkflowPin"
            }
          },
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardWidget"
            }
          }
        },
        "required": ["dashboard", "pins", "workflowPins", "widgets"],
        "additionalProperties": false
      },
      "DashboardWidgetFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "syncVersion": {
            "type": "integer"
          },
          "deletedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "dashboardId",
          "kind",
          "title",
          "config",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "syncVersion",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "CreateWidgetRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "kind": {
            "$ref": "#/components/schemas/DashboardWidgetKind"
          },
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          }
        },
        "required": ["dashboardId", "kind", "config"],
        "additionalProperties": false
      },
      "UpdateWidgetRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "gridX": {
            "type": "integer",
            "minimum": 0
          },
          "gridY": {
            "type": "integer",
            "minimum": 0
          },
          "gridW": {
            "type": "integer",
            "minimum": 0
          },
          "gridH": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "PinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          }
        },
        "required": ["dashboardId", "resourceId"],
        "additionalProperties": false
      },
      "ReorderRequest": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": ["resource", "workflow", "widget"]
                },
                "id": {
                  "type": "string"
                }
              },
              "required": ["kind", "id"],
              "additionalProperties": false
            }
          },
          "resourceIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        },
        "additionalProperties": false
      },
      "UnpinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["dashboardId", "resourceId"],
        "additionalProperties": false
      },
      "WorkflowPinRequest": {
        "type": "object",
        "properties": {
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": ["dashboardId", "workflowId"],
        "additionalProperties": false
      },
      "ValidateTabsResponse": {
        "type": "object",
        "properties": {
          "validTabIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["validTabIds"],
        "additionalProperties": false
      },
      "TabTarget": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["dashboard", "account", "resource", "agents", "costs", "workflows", "chat"]
          },
          "dashboardId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": ["kind"],
        "additionalProperties": false
      },
      "ValidateTabsRequest": {
        "type": "object",
        "properties": {
          "tabs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "target": {
                  "$ref": "#/components/schemas/TabTarget"
                }
              },
              "required": ["id", "target"],
              "additionalProperties": false
            }
          }
        },
        "required": ["tabs"],
        "additionalProperties": false
      },
      "ProbeStatus": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": ["ok", "loading", "error"]
          },
          "error": {
            "type": "string"
          },
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonObject"
            }
          },
          "sparkline": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "number"
                },
                "value": {
                  "type": "number"
                }
              },
              "required": ["ts", "value"],
              "additionalProperties": false
            }
          },
          "sparklineLabel": {
            "type": "string"
          },
          "resourceCounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "typeId": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": ["typeId", "count"],
              "additionalProperties": false
            }
          }
        },
        "required": ["phase"],
        "additionalProperties": false
      },
      "PinFull": {
        "type": "object",
        "properties": {
          "pinId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "gridX": {
            "type": "integer"
          },
          "gridY": {
            "type": "integer"
          },
          "gridW": {
            "type": "integer"
          },
          "gridH": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "fieldsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "outputsJson": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "pluginLogoSvg": {
            "type": "string"
          },
          "pluginDisplayName": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ProbeStatus"
          }
        },
        "required": [
          "pinId",
          "resourceId",
          "gridX",
          "gridY",
          "gridW",
          "gridH",
          "displayName",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "fieldsJson",
          "outputsJson",
          "pluginLogoSvg",
          "pluginDisplayName",
          "status"
        ],
        "additionalProperties": false
      },
      "PinRangeMetricSeries": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "number"
                },
                "value": {
                  "type": "number"
                }
              },
              "required": ["timestamp", "value"],
              "additionalProperties": false
            }
          }
        },
        "required": ["label", "points"],
        "additionalProperties": false
      },
      "PinRangeResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PinRangeMetricSeries"
            }
          }
        },
        "required": ["series"],
        "additionalProperties": false
      },
      "ProbeRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resourceId": {
                  "$ref": "#/components/schemas/ResourceId"
                },
                "accountId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                }
              },
              "required": ["resourceId", "accountId", "pluginId", "resourceTypeId"],
              "additionalProperties": false
            }
          }
        },
        "required": ["items"],
        "additionalProperties": false
      },
      "CostPushResponse": {
        "type": "object",
        "properties": {
          "written": {
            "type": "integer"
          }
        },
        "required": ["written"],
        "additionalProperties": false
      },
      "PushedCostRow": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "UTC day the spend belongs to.",
            "example": "2026-07-01"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "USD"
          },
          "amount": {
            "type": "number",
            "description": "Money for this day/dimension combination. Negative for credits."
          },
          "service": {
            "type": "string",
            "maxLength": 256,
            "description": "Becomes a group/filter value.",
            "example": "Snowflake Compute"
          },
          "region": {
            "type": "string",
            "maxLength": 256
          },
          "resourceId": {
            "type": "string",
            "maxLength": 256,
            "description": "Opaque id of the thing being billed; groups the `resource` dimension."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cost-allocation tags, at most 32. Keys starting with `infrawrench:` are reserved and rejected."
          },
          "usageAmount": {
            "type": "number"
          },
          "usageUnit": {
            "type": "string",
            "maxLength": 256
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Attribute this row to a connected account. Must belong to the calling organization. Omit to attribute it to the source itself.",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "required": ["date", "currency", "amount"],
        "additionalProperties": false
      },
      "CostPushRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "maxLength": 64,
            "description": "Stable slug naming the system that owns these rows: letters, digits, `.`, `_` and `-`. It groups the rows under an `External` provider and an `external:<source>` account, and re-pushing the same source over the same days restates only its own rows.",
            "example": "snowflake-invoices"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushedCostRow"
            },
            "maxItems": 5000
          }
        },
        "required": ["source", "rows"],
        "additionalProperties": false
      },
      "CostSeriesPoint": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "amount": {
            "type": "number"
          }
        },
        "required": ["bucket", "amount"],
        "additionalProperties": false
      },
      "CostQuerySeries": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            }
          }
        },
        "required": ["key", "label", "currency", "points"],
        "additionalProperties": false
      },
      "CostQueryResponse": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "comparison": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostQuerySeries"
            }
          },
          "forecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostSeriesPoint"
            }
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "previousTotals": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "required": ["series", "currencies", "totals"],
        "additionalProperties": false
      },
      "CostDimension": {
        "type": "string",
        "enum": ["provider", "account", "service", "region", "resource", "tag"]
      },
      "CostFilter": {
        "type": "object",
        "properties": {
          "dimension": {
            "$ref": "#/components/schemas/CostDimension"
          },
          "op": {
            "type": "string",
            "enum": ["in", "not_in"]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "tagKey": {
            "type": "string"
          }
        },
        "required": ["dimension", "op", "values"],
        "additionalProperties": false
      },
      "CostQueryRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-07-01"
          },
          "binning": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly", "cumulative"]
          },
          "groupBy": {
            "type": "string",
            "enum": ["none", "provider", "account", "service", "region", "resource", "tag"]
          },
          "groupByTagKey": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostFilter"
            }
          },
          "topN": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15
          },
          "comparePreviousPeriod": {
            "type": "boolean"
          },
          "forecast": {
            "type": "boolean"
          }
        },
        "required": ["from", "to", "binning", "groupBy"],
        "additionalProperties": false
      },
      "CostDimensionValues": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  },
                  "required": ["value", "label"],
                  "additionalProperties": false
                }
              ]
            }
          }
        },
        "required": ["values"],
        "additionalProperties": false
      },
      "CostAccountStatus": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "supportsCosts": {
            "type": "boolean"
          },
          "periodNative": {
            "type": "boolean"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["service", "region", "resource", "tag"]
            }
          },
          "costLastPolledAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "costBackfilledAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "costPollFailureCount": {
            "type": "integer"
          },
          "costPollError": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              },
              "helpLink": {
                "type": ["object", "null"],
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "required": ["label", "url"],
                "additionalProperties": false
              }
            },
            "required": ["message", "helpLink"],
            "additionalProperties": false,
            "description": "Last cost-collection failure for this account, cleared on the next success. `helpLink` points at the provider page that fixes a setup problem when the plugin can identify one (e.g. GCP's billing export console)."
          },
          "coverage": {
            "type": ["object", "null"],
            "properties": {
              "firstDay": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "example": "2026-07-01"
              },
              "lastDay": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "example": "2026-07-01"
              }
            },
            "required": ["firstDay", "lastDay"],
            "additionalProperties": false
          }
        },
        "required": [
          "accountId",
          "pluginId",
          "displayName",
          "supportsCosts",
          "periodNative",
          "dimensions",
          "costLastPolledAt",
          "costBackfilledAt",
          "costPollFailureCount",
          "costPollError",
          "coverage"
        ],
        "additionalProperties": false
      },
      "BudgetCostFilter": {
        "type": "object",
        "properties": {
          "dimension": {
            "type": "string",
            "enum": ["provider", "account", "service", "region", "resource", "tag"]
          },
          "op": {
            "type": "string",
            "enum": ["in", "not_in"]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "tagKey": {
            "type": "string"
          }
        },
        "required": ["dimension", "op", "values"],
        "additionalProperties": false
      },
      "BudgetThreshold": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["actual", "forecast"]
          },
          "percent": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          }
        },
        "required": ["type", "percent"],
        "additionalProperties": false
      },
      "BudgetWithStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetCostFilter"
            }
          },
          "thresholds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetThreshold"
            }
          },
          "month": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}$",
            "example": "2026-07"
          },
          "actualCents": {
            "type": "integer"
          },
          "forecastCents": {
            "type": ["integer", "null"]
          },
          "currentMonthEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "thresholdType": {
                  "type": "string",
                  "enum": ["actual", "forecast"]
                },
                "thresholdPercent": {
                  "type": "integer"
                },
                "triggeredAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": ["id", "thresholdType", "thresholdPercent", "triggeredAt"],
              "additionalProperties": false
            }
          },
          "placements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "widgetId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "dashboardId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "dashboardName": {
                  "type": "string"
                }
              },
              "required": ["widgetId", "dashboardId", "dashboardName"],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "name",
          "amountCents",
          "currency",
          "filters",
          "thresholds",
          "month",
          "actualCents",
          "forecastCents",
          "currentMonthEvents",
          "placements"
        ],
        "additionalProperties": false
      },
      "BudgetFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "name": {
            "type": "string"
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetCostFilter"
            }
          },
          "thresholds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetThreshold"
            }
          },
          "createdByUserId": {
            "type": ["string", "null"]
          },
          "deletedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "amountCents",
          "currency",
          "filters",
          "thresholds",
          "createdByUserId",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "BudgetInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "amountCents": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetCostFilter"
            }
          },
          "thresholds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetThreshold"
            },
            "minItems": 1,
            "maxItems": 10
          }
        },
        "required": ["name", "amountCents", "thresholds"],
        "additionalProperties": false
      },
      "BudgetAlertEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "month": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}$",
            "example": "2026-07"
          },
          "thresholdType": {
            "type": "string",
            "enum": ["actual", "forecast"]
          },
          "thresholdPercent": {
            "type": "integer"
          },
          "actualAmountCents": {
            "type": "integer"
          },
          "forecastAmountCents": {
            "type": ["integer", "null"]
          },
          "triggeredAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "month",
          "thresholdType",
          "thresholdPercent",
          "actualAmountCents",
          "forecastAmountCents",
          "triggeredAt"
        ],
        "additionalProperties": false
      },
      "PageResponse": {
        "type": "object",
        "properties": {
          "delivered": {
            "type": "boolean",
            "description": "True when at least one recipient was reached on any transport."
          },
          "suppressed": {
            "type": "boolean",
            "description": "True when the key was still in cooldown, so nothing was sent."
          },
          "sms": {
            "type": "integer",
            "description": "Twilio deliveries (SMS + voice) that Twilio accepted."
          },
          "push": {
            "type": "integer",
            "description": "Push notifications accepted by Expo."
          },
          "slack": {
            "type": "integer",
            "description": "Slack channel posts Slack accepted."
          },
          "msTeams": {
            "type": "integer",
            "description": "Microsoft Teams webhook posts Teams accepted."
          },
          "retryAt": {
            "type": "string",
            "format": "date-time",
            "description": "When suppressed, the time at which this key can page again."
          }
        },
        "required": ["delivered", "suppressed", "sms", "push", "slack", "msTeams"],
        "additionalProperties": false
      },
      "PageRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "maxLength": 64,
            "description": "Stable name for the system raising the page: letters, digits, `.`, `_` and `-`. It is the notification's sender, and it scopes the cooldown — two services paging under the same key never throttle each other.",
            "example": "checkout-api"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "The alert text. Becomes the SMS and notification body."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Short headline for the notification. Defaults to `source`."
          },
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Throttle key, `default` when unset. Pages sharing a key are suppressed while that key is in cooldown, so a per-object key (a host, a cluster id) alerts per object while the default key alerts once for the whole source.",
            "example": "db-replica-lag"
          },
          "cooldownMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1440,
            "description": "Minutes to suppress repeat pages under the same key. Defaults to 60; `0` sends every time."
          },
          "voice": {
            "type": "boolean",
            "description": "Also place a voice call to recipients who opted into voice. Off by default — reserve it for things worth waking someone up for."
          }
        },
        "required": ["source", "message"],
        "additionalProperties": false
      },
      "PageClearResponse": {
        "type": "object",
        "properties": {
          "cleared": {
            "type": "boolean",
            "description": "False when the key had no cooldown to clear."
          }
        },
        "required": ["cleared"],
        "additionalProperties": false
      },
      "ResourceStatus": {
        "type": "string",
        "enum": ["healthy", "warning", "error", "unknown", "pending", "stopped"],
        "description": "Normalized status reported by a plugin's renderSidebarItem/renderDetail."
      },
      "StatusDot": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["status-dot"]
          },
          "status": {
            "$ref": "#/components/schemas/ResourceStatus"
          },
          "label": {
            "type": "string"
          }
        },
        "required": ["kind", "status"],
        "additionalProperties": false
      },
      "ChildResourceRef": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "status": {
            "$ref": "#/components/schemas/StatusDot"
          }
        },
        "required": ["id", "displayName", "resourceTypeId", "pluginId", "accountId"],
        "additionalProperties": false
      },
      "ChildTypeRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "pluralDisplayName": {
            "type": "string"
          },
          "supportsCreate": {
            "type": "boolean"
          }
        },
        "required": ["id", "displayName", "supportsCreate"],
        "additionalProperties": false
      },
      "PeerPaneStub": {
        "type": "object",
        "properties": {
          "tabLabel": {
            "type": "string"
          },
          "pluginLogoSvg": {
            "type": "string"
          },
          "peerPluginId": {
            "type": "string"
          }
        },
        "required": ["tabLabel", "pluginLogoSvg", "peerPluginId"],
        "additionalProperties": false
      },
      "PeerPane": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PeerPaneStub"
          },
          {
            "type": "object",
            "properties": {
              "schema": {
                "$ref": "#/components/schemas/JsonObject"
              }
            },
            "required": ["schema"],
            "additionalProperties": false
          }
        ]
      },
      "EditableField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": ["string", "number", "boolean", "enum", "secret", "association", "password"]
          },
          "required": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "enumValues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["key", "label", "kind", "required"],
        "additionalProperties": false
      },
      "CredentialFormat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fileExtension": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          }
        },
        "required": ["id", "label"],
        "additionalProperties": false
      },
      "ResourceDetail": {
        "type": "object",
        "properties": {
          "detailSchema": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JsonObject"
              },
              {
                "description": "Plugin-rendered DetailViewSchema. Free-form by design."
              }
            ]
          },
          "childResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildResourceRef"
            }
          },
          "childTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildTypeRef"
            }
          },
          "pluginId": {
            "type": "string"
          },
          "pluginLogoSvg": {
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "peerPanes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeerPane"
            }
          },
          "peerIntegrationStubs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeerPaneStub"
            }
          },
          "canDelete": {
            "type": "boolean"
          },
          "canEdit": {
            "type": "boolean"
          },
          "editableFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EditableField"
            }
          },
          "credentialFormats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialFormat"
            }
          },
          "hasManifestEditor": {
            "type": "boolean"
          },
          "hasSecretVersions": {
            "type": "boolean"
          },
          "resourceDisplayName": {
            "type": "string"
          },
          "resourceTypeLabel": {
            "type": "string"
          },
          "resourceFields": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "hasSqlEditor": {
            "type": "boolean"
          },
          "hasStorageBrowser": {
            "type": "boolean"
          },
          "hasArtifactRegistry": {
            "type": "boolean"
          },
          "hasKvBrowser": {
            "type": "boolean"
          },
          "hasKvConsole": {
            "type": "boolean"
          },
          "kvDriverName": {
            "type": "string"
          },
          "isMongoDb": {
            "type": "boolean"
          },
          "hasDockerActions": {
            "type": "boolean"
          },
          "hasSshTerminal": {
            "type": "boolean"
          },
          "hasSftpBrowser": {
            "type": "boolean"
          },
          "sshHost": {
            "type": ["string", "null"]
          },
          "sshPrivateHost": {
            "type": ["string", "null"]
          },
          "defaultSshUsername": {
            "type": ["string", "null"]
          },
          "containerId": {
            "type": "string"
          },
          "databaseName": {
            "type": "string"
          },
          "storageBucketName": {
            "type": "string"
          },
          "supportsMetrics": {
            "type": "boolean"
          }
        },
        "required": [
          "detailSchema",
          "childResources",
          "childTypes",
          "pluginId",
          "pluginLogoSvg",
          "resourceId",
          "accountId",
          "resourceTypeId",
          "peerPanes",
          "peerIntegrationStubs",
          "canDelete",
          "canEdit",
          "editableFields",
          "credentialFormats",
          "hasManifestEditor",
          "hasSecretVersions",
          "resourceDisplayName",
          "resourceTypeLabel",
          "resourceFields",
          "hasSqlEditor",
          "hasStorageBrowser",
          "hasArtifactRegistry",
          "hasKvBrowser",
          "hasKvConsole",
          "isMongoDb",
          "hasDockerActions",
          "hasSshTerminal",
          "hasSftpBrowser",
          "sshHost",
          "defaultSshUsername",
          "containerId",
          "databaseName",
          "storageBucketName",
          "supportsMetrics"
        ],
        "additionalProperties": false
      },
      "Manifest": {
        "type": "object",
        "properties": {
          "manifest": {
            "type": "string"
          }
        },
        "required": ["manifest"],
        "additionalProperties": false
      },
      "ApplyManifestRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "manifest": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceId", "manifest"],
        "additionalProperties": false
      },
      "ImportYamlRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "yaml": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "yaml"],
        "additionalProperties": false
      },
      "DescribeResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        },
        "required": ["text"],
        "additionalProperties": false
      },
      "DescribeRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceId"],
        "additionalProperties": false
      },
      "LogsResponse": {
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "truncated": {
            "type": "boolean"
          }
        },
        "required": ["lines"],
        "additionalProperties": false
      },
      "LogsRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "tailLines": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "container": {
            "type": "string"
          },
          "previous": {
            "type": "boolean"
          }
        },
        "required": ["accountId", "resourceId"],
        "additionalProperties": false
      },
      "SecretVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": ["ENABLED", "DISABLED", "DESTROYED"]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": ["id", "state", "createdAt"],
        "additionalProperties": false
      },
      "SecretVersionsResponse": {
        "type": "object",
        "properties": {
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretVersion"
            }
          }
        },
        "required": ["versions"],
        "additionalProperties": false
      },
      "SecretAccessResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "required": ["value"],
        "additionalProperties": false
      },
      "SecretAccessRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "versionId": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceId", "versionId"],
        "additionalProperties": false
      },
      "SecretVersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/SecretVersion"
          }
        },
        "required": ["version"],
        "additionalProperties": false
      },
      "SecretAddRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "value": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceId", "value"],
        "additionalProperties": false
      },
      "SecretModifyRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "versionId": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": ["enable", "disable", "destroy"]
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceId", "versionId", "action"],
        "additionalProperties": false
      },
      "InvokeActionRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "actionId": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["pluginId", "accountId", "resourceTypeId", "resourceId", "actionId"],
        "additionalProperties": false
      },
      "NoSqlCommandRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "command": {
            "type": "string"
          },
          "args": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["pluginId", "accountId", "resourceTypeId", "resourceId", "command", "args"],
        "additionalProperties": false
      },
      "AttachRequest": {
        "type": "object",
        "properties": {
          "pluginId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "sourceTypeId": {
            "type": "string"
          },
          "sourceResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "targetTypeId": {
            "type": "string"
          },
          "targetResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": [
          "pluginId",
          "accountId",
          "sourceTypeId",
          "sourceResourceId",
          "targetTypeId",
          "targetResourceId"
        ],
        "additionalProperties": false
      },
      "CredentialExport": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "warning": {
            "type": "string"
          }
        },
        "required": ["content", "filename", "mimeType"],
        "additionalProperties": false
      },
      "ExportCredentialRequest": {
        "type": "object",
        "properties": {
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "formatId": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["resourceId", "accountId", "formatId"],
        "additionalProperties": false
      },
      "CreateResourceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["id", "displayName"],
        "additionalProperties": false
      },
      "CreateResourceRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "pluginId", "resourceTypeId", "fields"],
        "additionalProperties": false
      },
      "UpdateResourceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["id", "displayName", "fields"],
        "additionalProperties": false
      },
      "UpdateResourceRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "resourceId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "pluginId", "resourceTypeId", "resourceId", "fields"],
        "additionalProperties": false
      },
      "CreateConfigRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceTypeId"],
        "additionalProperties": false
      },
      "PickerResource": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "label": {
            "type": "string"
          },
          "pluginId": {
            "type": "string"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "outputKey": {
            "type": "string"
          },
          "outputValue": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label",
          "pluginId",
          "resourceTypeId",
          "accountId",
          "outputKey",
          "outputValue"
        ],
        "additionalProperties": false
      },
      "PickerResourcesRequest": {
        "type": "object",
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pluginId": {
                  "type": "string"
                },
                "resourceTypeId": {
                  "type": "string"
                },
                "outputKey": {
                  "type": "string"
                }
              },
              "required": ["pluginId", "resourceTypeId", "outputKey"],
              "additionalProperties": false
            }
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "regionHint": {
            "type": "string"
          }
        },
        "required": ["sources", "accountId"],
        "additionalProperties": false
      },
      "CreatePricingRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "resourceTypeId": {
            "type": "string"
          },
          "regionId": {
            "type": "string"
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "vcpus": {
                  "type": "number"
                },
                "memoryMb": {
                  "type": "number"
                }
              },
              "required": ["id", "vcpus", "memoryMb"],
              "additionalProperties": false
            }
          },
          "pluginId": {
            "type": "string"
          },
          "parentResourceId": {
            "$ref": "#/components/schemas/ResourceId"
          }
        },
        "required": ["accountId", "resourceTypeId", "sizes"],
        "additionalProperties": false
      },
      "FieldActionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "option": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "label": {
                "type": "string"
              }
            },
            "required": ["id", "label"],
            "additionalProperties": false
          }
        },
        "required": ["value"],
        "additionalProperties": false
      },
      "FieldActionRequest": {
        "type": "object",
        "properties": {
[...]
